<div id="footer-links" class="grid_16">
<%= link_to 'Wepoll 소개', '#' %> | 
<%= link_to '공지사항', '#' %> | 
<%= link_to '이용약관', '#' %> | 
<%= link_to '개인정보보호정책', '#' %> | 
<%= link_to '건의사항', '#' %>
</div>
