<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta property="fb:app_id"      content="<%= FACEBOOK_CLIENT[:key] %>" />
    <meta property="og:title"       content="Wepoll" />
    <meta property="og:image"       content="http://choco.wafflestudio.net:3082/btn_wepoll.png" />
    <meta property="og:description" content="선거문화를 바꾸는 위폴!" />
    <meta property="og:type"        content="website" />
    <iframe src="http://www.facebook.com/plugins/like.php?href=<%= request.url.encode("utf-8") %>
      &amp;layout=button_count&amp;show_faces=false&amp;send=false&amp;width=450&amp;action=like&amp;colorscheme=light" scrolling="no" frameborder="0" allowTransparency="true"
      style="border:none; overflow:hidden; width:450px; height:60px;"></iframe>
    <iframe id="faba7650" name="f1d0df1fc4" scrolling="no" style="border-width: initial; border-color: initial; overflow-x: hidden; overflow-y: hidden; width: 450px; border-width: initial; border-color: initial; height: 29px; border-top-style: none; border-right-style: none; border-bottom-style: none; border-left-style: none; border-width: initial; border-color: initial; border-image: initial; " title="Like this content on Facebook." class="fb_ltr" src="https://www.facebook.com/plugins/like.php?api_key=113869198637480&amp;channel_url=https%3A%2F%2Fs-static.ak.fbcdn.net%2Fconnect%2Fxd_proxy.php%23cb%3Df13ff157f4%26origin%3Dhttps%253A%252F%252Fdevelopers.facebook.com%252Ff3c99da6f4%26relation%3Dparent.parent%26transport%3Dpostmessage&amp;extended_social_context=false&amp;href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Freference%2Fplugins%2Flike%2F%3Fref%3Dpb&amp;layout=standard&amp;locale=ko_KR&amp;node_type=link&amp;sdk=joey&amp;send=true&amp;show_faces=true&amp;width=450"></iframe>

    <title>Wepoll</title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "preload/preload", :media => "all" %>
    <!-- Le javascript
    ================================================== -->
    <script type="text/javascript">
      var alertFallback = false;
      if (typeof console === "undefined" || typeof console.log === "undefined") {
        console = {};
        if (alertFallback) {
          console.log = function(msg) {
            alert(msg);
          };
        } else {
          console.log = function() {};
        }
      }
    </script>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag params[:controller] %>
    <%= yield :scripts %>
    <% if !flash[:search_error].to_s.empty? %>
      <style>
        #query::-webkit-input-placeholder { color:#f00; }
        #query:-moz-placeholder { color:#f00; }
        .ui-autocomplete { height: 200px; overflow-y: scroll; overflow-x: hidden;}   
      </style>
    <% end %>
    <script type="text/javascript">
      function show_auth_dialog(href) {
        window.open(href, "authWindow", "width=600,height=600,menubar=0,location=0,toolbar=0,modal=yes,scrollbars=yes,alwaysRaised=yes");
        return false;
      }

      function show_notices() {
        $.colorbox({href:"<%= notices_path %>",width:800,height:600});
      }
      function show_about() {
        $.colorbox({href:"/about"});
      }
      function show_provision() {
        $.colorbox({href:"/provision",width:800,height:600});
      }
      function show_privacy() {
        $.colorbox({href:"/privacy",width:800,height:600});
      }
      function show_suggestion() {
        $.colorbox({href:"<%= new_suggestion_path %>",width:430,height:600});
      }
      function loop_notice(i,count) {
        $list.eq(i).fadeOut(1800,"swing",function() {
          $list.eq(i+1).fadeIn(1800,"swing",function(){
            loop_notice(i+1,count)
          });
        });
        if(i==(count-1)) {
          i=0;
        }
      }

      $(document).ready(function() {

        $('#notices li').not($('#notices li').eq(0)).hide();

        $list = $('#notices li');
        var notice_count = $list.length;
        loop_notice(0,notice_count);

        
        $("input#query").placeholder();
        //notification bars
            if(search_source) {
              var search_result = false;
              $("input#query").autocomplete({
              source: search_source,
              delay: 50,
              minLength: 2,
              select: function(event, ui) {
                $("#query_hidden").val(ui.item.query);
                $("#query_type").val(ui.item.type);
                $("#query").val(ui.item.form);
                search_result = true;
                return false;
              },
              search: function(event, ui) {
//              var html = "<style type='text/css'>
//                * html div#division { 
//                height: expression( this.scrollHeight > 332 ? "333px" : "auto" ); /* sets max-height for IE */
//                }
//                div#division {
//                max-height: 333px; /* sets max-height value for all standards-compliant browsers */
//                }
//                </style>";
//             $(".ui-autocomplte").html(html);
                $(".ui-autocomplete").css({"maxHeight":"600px","overflowY":"scroll","overflowX":"hidden"});
              },
              autoFocus: true,
              close: function(event, ui) {
              if(!search_result) {
                $("#query_hidden").val("");
                $("#query_type").val("");
                search_result = false;
              }
              },
              focus: function(event, ui) {
                search_result = true;
                return false;
             }}); 
          }

        <% [:notice, :error, :alert].each do |level| %>
          <% unless flash[level].blank? %>
            $.gritter.add({title:" ",text:"<%= flash[level]%>"});
          <% end %>
        <% end %>
      });
      <% if session[:need_login] -%>
        $.colorbox({href:"/users/sign_in", width: 520, height: 250});
        <% session.delete :need_login -%>
      <% else -%>
      <% end -%>
    </script>

    <!-- Le styles -->
    <%= stylesheet_link_tag    "application", :media => "all" %>


    <!-- Le fav and touch icons -->
    <!--    <link href="images/favicon.ico" rel="shortcut icon">-->
    <!--    <link href="images/apple-touch-icon.png" rel="apple-touch-icon">-->
    <!--    <link href="images/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">-->
    <!--    <link href="images/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">-->
  </head>
  <body>
    <div id="fb-root"></div>
    <script src="//connect.facebook.net/en_US/all.js"></script>
    <script>
      FB.init({
        appId      : '<%= FACEBOOK_CLIENT[:key]%>', // App ID
        channelUrl : '//wepoll.dev/channel.html', // Channel File
        status     : true, // check login status
        cookie     : true, // enable cookies to allow the server to access the session
        xfbml      : true  // parse XFBML
      });
    </script>
    <div class="top-bar">
      top-bar
    </div>

    <div id="container" class="container_16 clearfix">

      <div class="grid_16 clearfix">

        <div id="main-content" class="grid_12 alpha">
          <% if @big_header -%>
          <div id="header" class="clearfix">
            <div id="logo-wrapper" class="prefix_1 grid_3">
              <a href="/"><h1 class="grid_3 alpha omega">logo here</h1></a>
              <%#= link_to "타임라인 바로가기", timeline_entries_path %>
            </div>

            <div id="search-bar-wrapper" class="prefix_1 grid_5" style="z-index: 2000">
              <%= form_tag "/search", :id => "main-search-bar" do |f| %>
                <%= hidden_field_tag :search_pass, "true" %>
                <%= text_field_tag :query,"", :placeholder => flash[:search].nil? ? "정치인, 동 이름을 입력하세요" : flash[:search], :autocomplete => "off" %>
                <%= hidden_field_tag :query_hidden %>
                <%= hidden_field_tag :query_type %>
                <%= submit_tag "검색"%>
              <% end -%>
            </div>
          </div>
          <% else -%>
          <div id="header-small" class="clearfix">
            <div id="logo-wrapper-small" class="grid_2">
              <a href="/"><h1 class="grid_3 alpha omega">logo here</h1></a>
            </div>

            <div id="search-bar-wrapper-small" class="grid_5">
              <%= form_tag "/search", :id => "main-search-bar" do |f| %>
                <%= hidden_field_tag :search_pass, "true" %>
                <%= text_field_tag :query,"", :placeholder => flash[:search].nil? ? "정치인, 동 이름을 입력하세요" : flash[:search], :autocomplete => "off" %>
                <%= hidden_field_tag :query_hidden %>
                <%= hidden_field_tag :query_type %>
                <%= submit_tag "검색"%>
              <% end -%>
            </div>
          </div>
          <% end -%>


          <div class="grid_12 alpha omega">
            <%= yield %>
          </div>
        </div>

        <div id="sidebar" class="grid_4 omega">
          <div class="grid_3" id="login-status">
            <%= render :partial => '/login_info' %>
          </div>
          <div class="clear"></div>

          <%= yield :sidebar %>
          <%# TODO 조건 검사? %>
          <% if @recent_timeline_entries && @popular_timeline_entries && controller_name != "timeline_entries" && controller_name != "dashboard" && action_name != 'forum' %>
            <%= render :partial => '/main/recent_links' %>
          <% end -%>
        </div>

      </div> <!-- end of content -->

    </div> <!-- /container -->
    <footer>
      <div class="container_16">
        <%= render :partial => '/layouts/footer' %>
      </div>
    </footer>
  </body>
</html>
