<div data-href="<%= tweet_tweet_replies_path(t) %>" class="tweet_item clearfix <%= c %>">
  <div class="count">
    <%= t.like_count %>
  </div>
  <div class="content">
    <div>
      <span class="tweet_author"><%= t.name if t.name? %> <%= "@#{t.screen_name}" if t.screen_name? %></span>
      <% if user_signed_in? -%>
        <%= link_to '공감하기', like_tweet_path(t), :class => "tweet_recommend_btn" %>
        <%= link_to '댓글달기', tweet_tweet_replies_path(t), :class => "reply_btn", "data-status_id" => t.status_id %>
      <% else -%>
        <%= link_to_function '공감하기', "$.colorbox({href:'/users/sign_in', width: 520, height: 250})", :class => "reply_btn" %>
        <%= link_to_function '댓글달기', "$.colorbox({href:'/users/sign_in', width: 520, height: 250})", :class => "reply_btn" %>
      <% end -%>
    </div>
    <div class="clear"></div>
    <div class="tweet_message">
      <%= t.content %>
    </div>
    <div>
      <%= t.created_at %> 댓글<%= t.tweet_replies.count %>개
    </div>
  </div>
</div>
