<% content_for :scripts do %>
<script type="text/javascript">
$(function() {
  $('span.checkbox').addClass("unchecked");
  $(".checkbox").click(function(){
    if($(this).children("input").attr("checked")){
      // uncheck
      $(this).children("input").removeAttr("checked");
      $(this).removeClass("checked");
      $(this).addClass("unchecked");
    }else{
      // check
      $(this).children("input").attr({checked: "checked"});
      $(this).removeClass("unchecked");
      $(this).addClass("checked");
    }
  });
  $('#replies_wrapper.total').infinitescroll({
    navSelector: "#replies_paginator",
    nextSelector: "#replies_paginator a:first",
    itemSelector: "#replies_wrapper.total div.reply_item",
    localMode: true
  });
});
</script>
<% end  -%>

<div class="grid_10 push_1 alpha">
  <div id="politician_box" class="grid_10 alpha omega">
    <div id="politician_profile_picture" class="grid_2 alpha">
      <%= image_tag @politician.profile_photo.url(:square160), :size => "120x120" %>
    </div>
    <div id="politician_info" class="grid_8 omega">
      <span id="district">지역구: <%= link_to @politician.district, district_politician_path(@politician), :id => "district_link" %></span>
      <h2><%= @politician.name %></h2>
      <h3>@<%= @politician.tweet_name %></h3>
      <%#= link_to 'get tweets', get_tweet_path(@politician.tweet_name.to_s) unless @politician.tweet_name.nil? %>
      <div id="follow_btn"><a href="https://twitter.com/<%= @politician.tweet_name %>" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @<%= @politician.tweet_name %></a></div>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></script></a>
    </div>
  </div>
</div>

<div id="tweets_wrapper" class="grid_12 alpha omega">
  <%= render :partial => "tweet_class", :locals => {:t => @best, :c => "best"} unless @best.nil? %>
  <%= render :partial => "tweet_class", :locals => {:t => @today_best, :c => "today_best"} unless @today_best.nil? %>
  <div id="tweet_divider">&nbsp;</div>
  <div id="tweets">
    <%= render @tweets %>
  </div>
  <div id="tweets_paginator">
    <%= link_to_next_page @tweets, 'next', :param_name => "tweets_page", :remote => true %>
  </div>
</div>

<%= content_for :sidebar do %>
  <div id="reply_box" class="grid_4 alpha omega">
    <%= form_tag('/tweets/', :method => "post") do %>
      <%= hidden_field_tag :link , "#{request.url}" %>
      <%= image_tag 'admin/hr.gif', :id => "reply_close" %>
      <div id="reply_check" class="forum">
        <span class="checkbox twitter"><input name="tweet" type="checkbox" /></span>
        <span class="checkbox facebook"><input name="facebook" type="checkbox" /></span>
      </div>
      <%= label_tag :reply_text_box, @politician.name+'후보의 트윗에 한마디.' %>
      <%= text_area_tag 'tweet_reply[content]', nil, :id => "reply_text_box", :placeholder => "댓글을 입력해주세요." %>
      <%= hidden_field_tag :in_reply_to_status_id %>
      <%= submit_tag '등록', :id => "reply_submit_btn" %>
    <% end -%>
  </div>
  <% if @replies.empty? %>
    <div id="replies_wrapper" class="grid_4 alpha omega">
      <div class="reply_item">
        <p>댓글이 없습니다.</p>
      </div>
    </div>
  <% else -%>

  <div id="replies_wrapper" class="grid_4 alpha omega total">
    <%= render @replies %> 
  </div>
  <% end -%>
  <div id="replies_paginator">
    <%= paginate @replies, :param_name => "replies_page" %>
  </div>
<% end -%>
