<div class="link-excerpt">
  <div class="title">
    <% if link.nil? -%>
      <span style=\"color:#888\">링크가 없습니다.</span>
    <% else -%>
      <%= link_to (link.politician.district + " " + link.politician.name), district_politician_path(link.politician.id), :class => "link-excerpt-politician-name" %>
      <%= link_to truncate((link.title||"제목이 없습니다."),:length => 20), display_timeline_entry_path(link.id) %>
    <% end -%>
  </div>
  <div class="meta-info clearfix">
    <div class="support-count">
      공감 <%= link.nil? ? 0 : link.like_count %>&nbsp;&nbsp;&nbsp;
      댓글 <%= link.nil? ? 0 : link.link_replies.count %>
    </div>
    <div class="nickname"><%= (link.nil? || link.user.nil?) ? "위폴" : (link_to link.user.nickname, display_timeline_entry_path(link.id))%></div>
  </div>
</div>
