<div class="link-excerpt">
  <div class="title">
    <% if message.nil? -%>
      <span style=\"color:#888\">링크가 없습니다.</span>
    <% else -%>
      <% message.politician!=nil ? sidebar_link_url=district_name_path(message.district) : sidebar_link_url=district_politician_path(message.politician_id) %>
      <%= link_to (message.district + " " + (message.politician!=nil ? message.politician.name : "")), sidebar_link_url, :class => "link-excerpt-politician-name" %>
      <%= link_to truncate((message.body),:length => 20), sidebar_link_url %>
    <% end -%>
  </div>
  <div class="meta-info clearfix">
    <div class="support-count">
      추천 <%= message.nil? ? 0 : message.like_count %>&nbsp;&nbsp;&nbsp;
      댓글 <%= message.nil? ? 0 : message.message_replies.count %>
    </div>
    <div class="nickname"><%= (message.nil? || message.user.nil?) ? "위폴" : (link_to message.user.nickname, sidebar_link_url)%></div>
  </div>
</div>
