<%= content_for :scripts do %>
<script type="text/javascript">
$(function() {
$('span.checkbox').addClass("unchecked");
  $(".checkbox").click(function(){
    if($(this).children("input").attr("checked")){
      // uncheck
      $(this).children("input").removeAttr("checked");
      $(this).removeClass("checked");
      $(this).addClass("unchecked");
    }else{
      // check
      $(this).children("input").attr({checked: "checked"});
      $(this).removeClass("unchecked");
      $(this).addClass("checked");
    }
  });
});
</script>
<% end  -%>
<!--   FACEBOOK facebook javascript sdk -->
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '369053339792936', // App ID
      channelUrl : '//choco.wafflestudio.net:3082/channel.html', // Channel File
      status     : true, // check login status
      cookie     : true, // enable cookies to allow the server to access the session
      xfbml      : true  // parse XFBML
    });

    // Additional initialization code here
  };

  // Load the SDK Asynchronously
  (function(d){
     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/en_US/all.js";
     ref.parentNode.insertBefore(js, ref);
   }(document));
</script>


<div class="grid_10 push_1 alpha">
  <div id="politician_box" class="grid_10 alpha omega">
    <div id="politician_profile_picture" class="grid_2 alpha">
      <%= image_tag @politician.profile_photo.url %>
    </div>
    <div id="politician_info" class="grid_8 omega">
      <h2><%= @politician.name %></h2>
      <h3>@<%= @politician.tweet_name %></h3>
      <%= link_to 'get tweets', get_tweet_path(@politician.tweet_name.to_s) unless @politician.tweet_name.nil? %>
    </div>
  </div>
</div>

<div id="tweets_wrapper" class="grid_12 alpha omega">
  <%= render :partial => "tweet", :locals => {:t => @best, :c => "best"} unless @best.nil? %>
  <%= render :partial => "tweet", :locals => {:t => @today_best, :c => "today_best"} unless @today_best.nil? %>
  <div id="tweet_divider"></div>
  <% @politician.tweets.desc('created_at').each do |t| %>
    <%= render :partial => "tweet", :locals => {:t => t, :c => ""} %>
  <% end -%>
</div>

<%= content_for :sidebar do %>
  <div id="reply_box" class="grid_4 alpha omega">
    <%= form_tag('/tweets/', :method => "post") do %>
      <div id="reply_close">
        X
      </div>
      <div id="reply_check">
        <span class="checkbox tweet"><input name="tweet" type="checkbox" /></span>
        <span class="checkbox facebook"><input name="facebook" type="checkbox" /></span>
      </div>
      <%= label_tag :reply_text_box, @politician.name+'후보의 트윗에 한마디.' %>
      <%= text_area_tag 'tweet_reply[content]', nil, :id => "reply_text_box", :placeholder => "댓글을 입력해주세요." %>
      <%= hidden_field_tag :in_reply_to_status_id %>
      <%= submit_tag '등록', :id => "reply_submit_btn" %>
    <% end -%>
  </div>
  <div id="replies_wrapper" class="grid_4 alpha omega">
    <%= render :partial => "tweet_replies", :locals => { :replies => @politician.total_replies } %> 
  </div>
<% end -%>
