<% content_for :scripts do -%>
  <script type="text/javascript">
    FB.getLoginStatus(function(response) {
      if (response.status === 'connected') {
        // the user is logged in and connected to your
        // app, and response.authResponse supplies
        // the user's ID, a valid access token, a signed
        // request, and the time the access token 
        // and signed request each expire
        var uid = response.authResponse.userID;
        var accessToken = response.authResponse.accessToken;
//        alert("connected");
      } else if (response.status === 'not_authorized') {
        // the user is logged in to Facebook, 
        //but not connected to the app
//        alert("not authorized");
      } else {
        // the user isn't even logged in to Facebook.
//        alert("not logged in");
      }
    });
  </script>
  <script type="text/javascript">
    $(document).ready(function() {
        // vs-container start
        $("#vs-container").css("visibility","hidden");

        //TODO : according to cookie value, select map which not shown
        $("#busan-map").removeClass("selected");
        $("#seoul-map").addClass("selected");

        $("#region-selector .region").click(function() {
          $("#region-selector .region").removeClass("selected");
          $(this).addClass("selected");

          var region = $(this).attr("id").split("-")[0];
          $(".small-map").removeClass("selected");
          $("#"+region+"-small-map").addClass("selected");

          $(".map").removeClass("selected");
          $("#"+region+"-map").addClass("selected");
          });
        });
    function loadVSPoliticians(district) {

    }
// vs-container end
</script>
<script type="text/javascript">

// draw arrow start
var paper = Raphael("seoul-map-image", 800, 600, function () {
    var r = this;
    r.rect(-150, 100, 850, 850).attr({
stroke: "none",
});
    var over = function () {
    this.c = this.c || this.attr("fill");
    this.stop().animate({fill: "#64C8CB"}, 200);

    coordinates = worldmap.points[this.id].split(" ");

    x = parseInt(coordinates[0]) - 50;
    y = parseInt(coordinates[1]) + 95;
    end_x = 635;
    end_y = 120;

    len = Math.sqrt((end_x - x) * (end_x - x) + (end_y - y) * (end_y -y));
    len /= 2.5;
    alpha = Math.atan((end_y - y) / (end_x - x));

    x1 = x + len * Math.cos(Math.PI / 4 + alpha);
    y1 = y + len * Math.sin(Math.PI / 4 + alpha);

    x2 = end_x - len * Math.cos(Math.PI / 4 + alpha);
    y2 = end_y - len * Math.sin(Math.PI / 4 + alpha);

    this.curve = r.path("M"+x+" "+y+"C"+x1+" "+y1+" "+x2+" "+y2+" "+end_x+" "+end_y);
    this.curve.attr({"stroke-dasharray": "- ", "stroke-width": "4", "stroke": "#454b4f"});
    this.arrow = r.image("/assets/arrow_hd.gif", end_x, end_y - 15, 40, 40);

    endInfo = this.curve.getPointAtLength(this.curve.getTotalLength()); 
    beta = endInfo.alpha > 360 ? endInfo.alpha - 360 : 180 - endInfo.alpha;
    this.arrow.rotate(beta);
    console.log(beta+" | "+endInfo.x+","+endInfo.y+"|"+endInfo.alpha);
    $("#vs-container").css("visibility","");
    //load politicians
    console.log("id = " + $(this).attr('id'));

    var $img1 = $(".winner-photo-wrapper img");
    var $img2 = $(".loser-photo-wrapper img");

    if ($img1.length == 0) {
      $img1 = $("<img class=\"profile-image\" />");
      $(".winner-photo-wrapper").prepend($img1);
    }
    if ($img2.length == 0) {
      $img2 = $("<img class=\"profile-image\" />");
      $(".loser-photo-wrapper").prepend($img2);
    }

    if ($("#vs-container").attr("data-district") == worldmap.names[this.id]) {
      return;
    }
    else {
      $img1.attr("src","");
      $img2.attr("src","");
    }

    $.getJSON("/district/" + worldmap.names[this.id], function(data) {
      $("#vs-container").attr("data-district", worldmap.names[this.id]);

      var p1 = data[0];
      var p2 = data[1];

      //photo
      var photourl1 = p1 ? "/system/politician_profile_photos/"+p1._id+"/square100.jpg" : "";
      var photourl2 = p2 ? "/system/politician_profile_photos/"+p2._id+"/square100.jpg" : "";


      if (photourl1 === "")  {
        $img1.fadeOut();
      }
      else {
        $img1.attr("src", photourl1);
        $img1.fadeIn();
      }

      if (photourl2 === "")  {
        $img2.fadeOut();
      }
      else {
        $img2.attr("src", photourl2);
        $img2.fadeIn();
      }

      $("#vs-politician1 .politician-name").text(p1 ? p1.party +" "+ p1.name :"");
      $("#vs-politician2 .politician-name").text(p2 ? p2.party +" "+ p2.name :"");

      $("#vs-politician1 .good_links").text(p1 ? p1.good_link_count : 0);
      $("#vs-politician2 .good_links").text(p2 ? p2.good_link_count : 0);

      $("#vs-politician1 .bad_links").text(p1 ? p1.bad_link_count : 0);
      $("#vs-politician2 .bad_links").text(p2 ? p2.bad_link_count : 0);
    });

    },
    out = function () {
      this.curve.remove();
      this.arrow.remove();
      $("#vs-container").css("visibility","hidden");
      this.stop().animate({fill: this.c}, 500);

    },
    click = function(e) {
      if (confirm("대결 지역으로 이동하시겠습니까?\n" + worldmap.names[this.id] + this.id)) {
        $(location).attr('href',$(location).attr('origin')+"/district/"+worldmap.names[this.id]);
      }
    };
r.setStart();
for (var country in worldmap.shapes) {
  //r.path(worldmap.shapes[country]).attr({stroke: "#ccc6ae", fill: "#f0efeb", "stroke-opacity": 0.25});
  r.path(worldmap.shapes[country]).attr({stroke: "#454b4f", "stroke-width": 6, fill: "#fff", "stroke-opacity": 1});
}
var world = r.setFinish();
world.hover(over, out);
world.click(click);
r.setViewBox(-94,95,500,640,false)
  })
// draw arrow end
</script>
<% end -%>

<%= link_to 'test link', forum_path(Politician.first) %>
<div id="seoul-map" class="map">
  <div id="seoul-map-bubble" class="bubble">
    <div class="bubble-text">
      서울시 지도에<br />
      마우스를 올려보세요!
    </div>
  </div>

  <%= image_tag '/assets/dummy_map.gif' %>
  <div id="seoul-map-image">
  </div>
  <!--  <div id="dest" style="position:absolute;left:690px;top:100px;width:10px;height:10px;background-color:red;"></div>-->
  <canvas id="line-canvas" width="752" height="639"></canvas>

  <div id="arrow-header">
    <%= image_tag "/assets/arrow_hd.gif" %>
  </div>
</div>

<div id="busan-map" class="map">
  <div id="busan-map-bubble" class="bubble">
    <div class="bubble-text">
      부산시 지도에<br />
      마우스를 올려보세요!
    </div>
  </div>

  <%= image_tag '/assets/dummy_busan_map.png' %>
</div>

<% content_for :sidebar do -%>
  <div id="region-selector">
    <div class="clearfix">
      <%= link_to "서울", '#', :id => "seoul-region", :class => "region selected" %>
      <%= link_to "부산", '#', :id => "busan-region", :class => "region" %>
    </div>
    <div class="small-map-container">
      <a class="small-map selected" id="seoul-small-map" href="#">
        <%= image_tag '/assets/seoul_map_small.gif' %>
      </a>

      <a class="small-map" id="busan-small-map" href="#">
        <%= image_tag '/assets/busan_map_small.gif' %>
      </a>
    </div>
  </div>

  <!-- vs-container is absolute positioned -->
  <div id="vs-container" class="clearfix">
    <h3 id="vs-district">지역구</h3>
    <div class="vs-part alpha" id="vs-politician1">
      <div class="winner-photo-wrapper">
        <div class="photo-frame"></div>
      </div>
      <div class="politician-name"></div>
      <div class="good_links"></div>
      <div class="bad_links"></div>
    </div>
    <div class="vs-part omega" id="vs-politician2">
      <div class="loser-photo-wrapper">
        <div class="photo-frame"></div>
      </div>
      <div class="politician-name"></div>
      <div class="good_links"></div>
      <div class="bad_links"></div>
    </div>
  </div>
<% end -%>
