<div class="grid_16" id="main-pages-container">
  <div id="main-content">
    <div class="alpha grid_2" id="logo-wrapper">
      <h1>wepoll</h1>
    </div>
    <div class="grid_6 prefix_2 omega" id="search-bar-wrapper">
      <%= form_tag "/", :id => "main-search-bar" do %>
        <%= text_field_tag :query,"", :placeholder => "정치인, 동 이름을 입력하세요" %>
        <%= submit_tag "검색"%>
      <% end -%>
    </div>
    <div class="clear"></div>
    <div class="grid_6 alpha omega">
      <h1>example list</h1>
      <% @politicians.each do |p| -%>
        <%= link_to p.name, forum_path(p) %>
      <% end -%>
    </div>
    <hr />
  </div>

  <div id="main-right" class="grid_5 omega">
    <div id="login-btn">
      <%= link_to '로그인', new_user_session_path %>
    </div>
  </div>
</div>
