<tr class="<%=@bills.first == bill ? "space-under" : "" %>">
  <td class="cell-date"><%= bill.initiated_at.strftime("%Y-%m-%d") %></td>
  <td class="cell-commitee"><%= bill.commitee %></td>
  <td class="cell-title"><%=link_to_function bill.title, "law_title_click($(this), '#{bill.id}')", :class => 'show-bill' %></td>
  <td class="cell-result">
    <% if !bill.complete -%>
      <a class="tooltip-right-law" title="계류">계류</a>
    <% else -%>
      <a class="tooltip-right-law"><%= bill.result %></a>
    <% end -%>
  </td>
</tr>

