<div class="link-reply-wrapper">

  <div class="link-content-wrapper">
    <img class="link-reply-user-photo" src="<%= link_reply.user ? link_reply.user.profile_picture.url(:square50) : "/assets/anonymous.gif" %>"/>
    <div class="link-reply-user-name"><%= link_reply.user ? link_reply.user.nickname : "정보없음" %></div>
    <div class="link-reply-content"><%= link_reply.body %></div>
  </div>

  <div class="clear"></div>

  <div class="link-reply-date"><%= link_reply.created_at.strftime("%Y-%m-%d %p %H:%M") %></div>
  <div class="actions">
    <span class="like"><%= link_to '공감', like_link_reply_path(link_reply), :remote => true%> <span id="like-count-<%=link_reply.id%>"><%= link_reply.like %></span></span>
    <span class="blame"><%= link_to '신고', blame_link_reply_path(link_reply), :remote => true%></span>
  </div>
  <div class="clear"></div>
</div>
