<% count = 0 %>
<% politician.joint_initiate_bill_politicians[0...5].each_with_index do |tmp, i| -%>
  <% next if tmp[0] == politician._id || count == 4 %>
  <% count += 1 %>
  <div class="joint-politician<%= i==0?" alpha":i==3?" omega":""%>">
    <% p = Politician.where(:_id => tmp[0]).first -%>
    <% if p && p.profile_photo? -%>
      <% if p.candidate -%>
        <%= link_to image_tag(p.profile_photo.url(:square100), :style => "width:48px;height:48px;"), district_politician_path(p.id) %>
      <% else -%>
        <%= image_tag(p.profile_photo.url(:square100), :style => "width:48px;height:48px;") %>
      <% end -%>
    <% else -%>
      <%= link_to image_tag("http://placehold.it/48x48"), '#'%>
    <% end -%>

    <div class="joint-info"><%= p.nil? ? tmp[0] : p.name  %><br />
    <%= "#{(tmp[1].to_f/politician.initiate_bills.count*100.0).round}%" %></div>
  </div>
<% end -%>
