<div class="alpha omega subsection clearfix">
  <div style="text-align:right;font-size:8pt;padding-top:10px; padding-right:10px;">
*18대 국회활동을 기준으로 합니다.<br />
(출처: 국회의안정보시스템, 열려라국회)
  </div>
  <% @politicians.each_with_index do |politician, i| -%>
    <div class="<%=i==0 ? "left":"right" %> init_bills">
      <% if politician.is_18? %>
        <%= render :partial => "initiate_bills_summary", :locals => { :politician => politician, :bill_categories => @bill_categories[i], :bill_counts => @bill_counts[i], :index => i, :count => politician.initiate_bills.count, :count2 => @politicians[1-i].initiate_bills.count }  %>
      <% else %>
        <% unless politician.is_18? %>
          <div class="not_18" style="margin-top:80px;height:240px;">18대 국회의원이 아닙니다.</div>
        <% end %>
      <% end -%>
    </div>

    <% if i==0 -%><div class="subsection-label" style="margin-top:100px;">발의한법안</div><% end -%>
  <% end -%>
</div>

<div class="alpha omega subsection clearfix">
  <% @politicians.each_with_index do |politician, i| -%>
    <div class="<%= i==0?"left":"right"%>">
      <% if politician.is_18? %>
        <%= render :partial => "top_joint_initiate", :locals => {:politician => politician} %>
      <% else %>
        <div class="not_18" style="margin-top:90px;height:278px">18대 국회의원이 아닙니다.</div>
      <% end -%>
    </div>

    <% if i==0 -%><div class="subsection-label" style="margin-top:110px;"><small>함께발의한의원</small></div><% end -%>
  <% end -%>
</div>

<div class="alpha omega subsection clearfix">
  <% @politicians.each_with_index do |politician, i| -%>
    <div class="<%= i==0?"left":"right"%>">
      <div class="attendance" style="color:<%= @party_color[politician.party] || 'red' %>">
        <% if politician.is_18? %>
          <%= politician.attendance%>%
        <% else %>
          <div class="not_18" style="margin-top:-15px;">18대 국회의원이 아닙니다.</div>
        <% end -%>
      </div>
    </div>
    <% if i==0 -%><div class="subsection-label" style="margin-top:20px;">본회의출석률</div><% end -%>
  <% end -%>
</div>
