<%= javascript_tag do %>
  all_url = "<%=j init_bills_by_politician_path(@politician) %>"
  accepted_url = "<%=j init_bills_by_politician_path(@politician)+'?result=true' %>"
<% end -%>
<div class="alpha omega clearfix" id="popup-bills">
  <div id="popup-profile-photo">
    <div class="photo">
      <%= image_tag @politician.profile_photo? ? @politician.profile_photo.url(:square100) : "http://placehold.it/100"%>
    </div>
    <span class="name-label"><%= @politician.name %></span>
  </div>
  <div id="popup-bills-categories">
    <h3 class="bill-count">전체 <span class="bill-count"><%= @bills.count%></span>건</h3>
    <h3 class="bill-count">본회의 통과 <span class="bill-count"><%= @bills.where(:result => Bill::RESULT_APPROVED).count%></span>건</h3>
    <div class="clear"></div>
    <% @bill_categories.each do |c, n| -%>
      <div class="bill-category">
        <span class="bill-category-name"><%= c%></span>
        <span class="bill-count"><%= n%>건</span>
      </div>
    <% end -%>
  </div>
  <div id="popup-bills-selector">
  <div><%= radio_button_tag 'bills', 'all' %> 모든법안보기</div>
  <div><%= radio_button_tag 'bills', 'accepted' %> 통과(가결)법안보기</div>
  </div>

  <div class="clear"></div>

  <div id="bill-update-info">최근 업데이트 <%= Time.now.strftime("%Y-%m-%d") %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="small">* 출처 : <a href="http://likms.assembly.go.kr/bill/">의안정보시스템</a></span></div>
  <div id="bills-wrapper" class="clearfix">
    <table id="bills">
      <thead>
        <tr>
          <th class="header-date">제안일</th>
          <th class="header-commitee">상임위</th>
          <th class="header-title">법안명</th>
          <th class="header-result">처리결과</th>
        </tr>
      </thead>
      <tbody id="bills-content">
        <%= render @bills %>
      </tbody>
    </table>
  </div>

  <div id="bills-paginator">
    <%= paginate @bills, :remote => true %>
  </div>
</div>
