<div id="">
  <%
     issueName = ""
  %>
  <% @bills.each do |bill| %>
    <% if bill.issue != issueName  %>
      <h2><%=  bill.issue %></h2>
      <% issueName = bill.issue %>
    <% end %>
    <p><%= bill.title %></p>

    <p>
      <% @politicians.each do |pol| %>
        <%=  @votes_by_politicians.where(:bill_id => bill.id).where(:politician_id => pol.id).first.value %>
      <% end %>
    </p>
    
    <p>
      
      <% @votes_by_parties.where(:bill_id => bill.id).each do |votes| %>
        <%= votes.party %>:<%= votes.num_supporters || 0 %>/<%= votes.num_dissenters || 0 %>/<%= votes.num_attendees || 0 %>/<%= votes.num_absentees || 0 %>
      <% end %>

    </p>
    
    <p>찬성:<%= bill.supporters.length %>/반대:<%= bill.dissenters.length %></p>
    <p>
      <%
         parties = {}
      %>
      
      <%#
        bill.supporters.each do |supporter|
          parties[supporter.party] = [] if parties[supporter.party].nil?
          parties[supporter.party].push supporter
        end

      %>
      <%= %>
    </p>
  <% end %>
</div>