
<div style="text-align:right;font-size:8pt;padding-top:10px; padding-right:10px;">
  * 당:현 소속 기준 | 당내 표결 분포:표결 당시 기준.<br />
  (출처: 국회의안정보시스템, 열려라국회)
</div>
  <%
     issueName = ""
  %>
  <div class="centerline"></div>

  <% @bills.each do |bill| %>

    <% vote,value,self_img_class,party_full,party_value,party_img_class = [],[],[],[],[],[] %>
    <% 0.upto(1) do |i| %>
      <% vote[i] = @votes_by_politicians.where(:bill_id => bill.id).where(:politician_id => @politicians[i].id).first %>
      <% value[i] = !vote[i].nil? ? vote[i].value : "해당 없음"%>
      <% self_img_class[i] =
           case value[i]
             when "찬성"
               "support"
             when "반대"
               "dissent"
             when "기권"
               "attend"
             when "부재"
                "absent"
             else
                nil
           end
      %>
      <% party_full[i] = "" %>
      <% party_value[i] = "" %>
      <% party_img_class[i] = nil %>
      <% @votes_by_parties.where(:bill_id => bill.id).where(:party => @politicians[i].party).each do |votes| %>
        <% if votes.party == @politicians[i].party and votes.party != "무소속" %>
          <% party_full[i] = "#{votes.party}: 찬성 #{votes.num_supporters.to_i}/반대 #{votes.num_dissenters.to_i}/기권 #{votes.num_attendees.to_i}/부재 #{votes.num_absentees.to_i}" %>
          <% total = votes.num_supporters.to_i + votes.num_dissenters.to_i + votes.num_attendees.to_i + votes.num_absentees.to_i %>
          <% if total > 0 %>
            <% p_supported,p_dissented,p_attended,p_absented = [votes.num_supporters, votes.num_dissenters, votes.num_attendees, votes.num_absentees].map do |num| num.to_i*100/total end %>
            <% largest = [p_supported,p_dissented,p_attended,p_absented].sort()[-1] %>
            <% if largest == p_supported and p_supported >= 50 %>
              <% party_value[i] = "다수찬성"
                 party_img_class[i] = "mostly-support"
              %>
            <% elsif largest == p_dissented and p_dissented >= 50 %>
              <% party_value[i] = "다수반대"
                 party_img_class[i] = "mostly-dissent"
              %>
            <% elsif (p_attended + p_absented) >= 50 %>
              <% party_value[i] = "다수불참"
                 party_img_class[i] = "mostly-absent"
              %>
            <% else %>
              <% party_value[i] = "경합"
              %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <% unless vote[0].nil? and vote[1].nil? %>
      <div class="grid_11 alpha omega">
        <div class="left">
          <% unless vote[0].nil? %>
            <table class="left vote-box-<%= value[0] == "찬성" ? "support" : (value[0] == "반대" ? "dissent" : "absent")%>">
              <tr class="vote-self">
                <td class="row-name">본인 의견</td>
                <td class="row-value">
                <%=  value[0] %>
                </td>
                <td><img src="/assets/issueline-<%= self_img_class[0] %>.png"/></td>
              </tr>
  
              <tr class="vote-party">
                <td class="row-name">당 의견</td>
                <td class="row-value dim">
                  <p class="tooltip-bottom" title="<%= party_full[0] %>">
                    <%= party_value[0] %>
                  </p>
                </td>
                <td>
                  <% if !party_img_class[0].nil? %>
                      <img src="/assets/issueline-<%= party_img_class[0] %>.png"/>
                  <% end %>
                </td>
  
              </tr>
            </table>
          <% end %>
        </div>
  
        <div class="center">
          
          <div class="vote-bill-container bill-description-link" title="<%=bill.summary%>">
            <div class="vote-bill-box">
              <div class="text">
                  <h2><%=  bill.issue %></h2>
                  <% issueName = bill.issue %>
                <div class="bill-description">
                <p><%= bill.title %></p>
                </div>

              </div>
            </div>
            <div class="clear"></div>
            <div class="vote-bill-point"></div>
          </div>
      
        </div>
  
        <div class="right">
          <% unless vote[1].nil? %>
          <table class="left vote-box-<%= value[1] == "찬성" ? "support" : (value[1] == "반대" ? "dissent" : "absent")%>">
            <tr class="vote-self">
              <td class="row-name">본인 의견</td>
              <td class="row-value">
                <%=  value[1] %>
              </td>
              <td><img src="/assets/issueline-<%= self_img_class[1] %>.png"/></td>
            </tr>
  
            <tr class="vote-party">
              <td class="row-name">당 의견</td>
              <td class="row-value dim">
                <p class="tooltip-bottom" title="<%= party_full[1] %>">
                  <%= party_value[1] %>
                </p>
              </td>
              <td>
                <% if !party_img_class[1].nil? %>
                  <img src="/assets/issueline-<%= party_img_class[1] %>.png"/>
                <% end %>
              </td>
  
            </tr>
          </table>
          <% end %>
        </div>
  
        <div class="clear"></div>
  
      </div>
    <% end %>

  <% end %>
<script type="text/javascript">
  $(".tooltip-bottom").qtip({position:{my:'top center',at:'bottom center'},style: {classes: 'ui-tooltip-cream'}});
  $(".bill-description-link").qtip({position:{my:'middle left',at:'middle right'},style: {classes: 'ui-tooltip-dark'}});
</script>