<div id="issueline" class="grid_11 alpha omega">
  <%
     issueName = ""
  %>
  <% @bills.each do |bill| %>
    <% vote1 = @votes_by_politicians.where(:bill_id => bill.id).where(:politician_id => @politicians[0].id).first %>
    <% value1 = vote1.value if !vote1.nil? %>
    <%= value1 %>

    <div class="grid_11 alpha omega">
      <div class="grid_4 alpha">
        <div class="vote-box-border-<%= value1 == "찬성" ? "support" : (value1 == "반대" ? "dissent" : "absent")%>">
          <div class="vote-box">
            <div class="grid_1 alpha row-name">본인 의견</div>
            <div class="omega row-value">
            <%=  value1 %>
            </div>
            <div class="clear"></div>
            <div class="grid_1 alpha row-name">당 의견</div>

            <div class="omega row-value">
              <% @votes_by_parties.where(:bill_id => bill.id).where(:party => @politicians[0].party).each do |votes| %>
                <% if votes.party == @politicians[0].party and votes.party != "무소속" %>
                  <p class="tooltip-top" title="<%= votes.party %>:<%= votes.num_supporters.to_i %>/<%= votes.num_dissenters.to_i %>/<%= votes.num_attendees.to_i %>/<%= votes.num_absentees.to_i %>">
                    <%= "#{votes.party} " +
                            ((votes.num_supporters.to_i + votes.num_dissenters.to_i) > 0 ?
                            ((votes.num_supporters.to_i*100 / (votes.num_supporters.to_i + votes.num_dissenters.to_i)).to_s + "% 찬성") :
                            "표결 불참") %>
                  </p>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="grid_3">
        <div class="vote-bill-box-border">
        <div class="vote-bill-box">
          <% if bill.issue != issueName  %>
            <h2><%=  bill.issue %></h2>
            <% issueName = bill.issue %>
          <% end %>

          <p><%= bill.title %></p>
          <p>찬성:<%= bill.supporters.length %>/반대:<%= bill.dissenters.length %></p>
          <p>기권:<%= bill.attendees.length %>/부재:<%= bill.absentees.length %></p>
        </div>
        </div>
      </div>

      <% vote2 = @votes_by_politicians.where(:bill_id => bill.id).where(:politician_id => @politicians[1].id).first %>
      <% value2 = vote2.value if !vote2.nil? %>

      <div class="grid_4 alpha">
        <div class="vote-box-border-<%= value2 == "찬성" ? "support" : (value2 == "반대" ? "dissent" : "absent")%>">
          <div class="vote-box">
            <div class="grid_1 alpha row-name">본인 의견</div>
            <div class="omega row-value">
              <%= value2 %>
            </div>
            <div class="clear"></div>
            <div class="grid_1 alpha row-name">당 의견</div>

            <div class="omega row-value">
              <% @votes_by_parties.where(:bill_id => bill.id).where(:party => @politicians[1].party).each do |votes| %>
                <% if votes.party == @politicians[1].party and votes.party != "무소속" %>
                  <p class="tooltip-top" title="<%= votes.party %>:<%= votes.num_supporters.to_i %>/<%= votes.num_dissenters.to_i %>/<%= votes.num_attendees.to_i %>/<%= votes.num_absentees.to_i %>">
                    <%= "#{votes.party} " +
                            ((votes.num_supporters.to_i + votes.num_dissenters.to_i) > 0 ?
                                ((votes.num_supporters.to_i*100 / (votes.num_supporters.to_i + votes.num_dissenters.to_i)).to_s + "% 찬성") :
                                "표결 불참") %>
                  </p>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="clear"></div>


    </div>

  <% end %>
</div>
<script type="text/javascript">
  $(function() {

    $('.vote-box,.vote-bill-box').corner("round 9px").parent().css('padding', '2px').corner("round 10px")

  })


</script>
