<script type="text/javascript">
  charLimit();
  function loadUrl(url, parentDiv)  {
    $.ajax({ url: '/api/article_parse', data: 'url='+encodeURIComponent(url), type: 'POST', dataType: 'json', success: 
        function(data)  { 
        console.warn(data)
        $(".preview-title a", parentDiv).html(data.title);
        $(".preview-image", parentDiv).empty().append(data.image ? "<img src='" + data.image + "'/>" : "[이미지없음]" );
        $(".preview-desc", parentDiv).html(data.description);
        } 
        }); 
  };
</script>

<div class="politician-popular-links">
  <div class="politician-popular-links-item clearfix">
    <% @politicians.each_with_index do |politician, i| -%>
      <div class="sep-subsection <%= i==0?"left":"right"%>">
        <div class="timeline-entries-container" id="politician-<%=politician.id%>-popular-links">
          <% entries = @entries[i]%>
          <% if entries.any? %>
            <%= render entries %>
            <div id="popular-paginator-politician-<%=politician.id %>">
              <% unless entries.current_page == entries.num_pages %>
                <%= link_to '>',  popular_links_of_politician_path(politician, :page => entries.current_page + 1), :id => "popular-next-page-#{politician.id}", :class => "next-links-page"%>
              <% end -%>
            </div>
          <% else -%>
            <div class="link_entries">
              <div class="link_header" style="border-bottom: 0">
                링크 없음 
              </div>
            </div>
          <% end -%>
        </div>
        <div id="bottom-indicator-popular-<%=politician.id %>" class="bottom-indicator">hihi</div>
        <div class="loading-indicator" id="loading-indicator-popular-<%= politician.id %>">&nbsp;</div>
      </div>

    <% end -%>
  </div>
</div>
