<div class="subsection profile">
  <div class="profile-item clearfix">
  <% @politicians.each_with_index do |politician, i| -%>
    <div class="<%= i==0?"left":"right"%>">
      <% if politician.birthday -%>
        <%= politician.birthday.strftime("%Y/%m/%d") %> (<%= Time.now.year - politician.birthday.year+1%>세)
      <% else -%>
        정보없음
      <% end -%>
    </div>
    <% if i==0 -%><div class="subsection-label">출생</div><% end -%>
  <% end -%>
  </div>

  <div class="profile-item clearfix">
    <% @politicians.each_with_index do |politician, i| -%>
      <div class="<%= i==0?"left":"right"%>">
        <%= politician.military.nil? || politician.military.length == 0  ?  "정보없음" : politician.military %>
      </div>
      <% if i==0 -%><div class="subsection-label">본인병역</div><% end -%>
    <% end -%>
  </div>


  <div class="profile-item clearfix">
    <% @politicians.each_with_index do |politician, i| -%>
      <div class="<%= i==0?"left":"right"%>">
        <%= politician.job.nil? || politician.job.length == 0 ? "정보없음" : politician.job %>
      </div>
      <% if i==0 -%><div class="subsection-label">현직</div><% end -%>
    <% end -%>
  </div>


  <div class="profile-item clearfix"> 
    <% @politicians.each_with_index do |politician, i| -%>
      <div class="<%= i==0?"left":"right"%>">
        <%= politician.education.nil? || politician.education.length == 0 ? "정보없음" : politician.education%>
      </div>
      <% if i==0 -%><div class="subsection-label">학력</div><% end -%>
    <% end -%>
  </div>


  <div class="profile-item clearfix"> 
    <% @politicians.each_with_index do |politician, i| -%>
      <div class="<%= i==0?"left":"right"%>">
        <%= politician.experiences.nil? || politician.experiences.length == 0 ? "정보없음" : politician.experiences%>
      </div>
      <% if i==0 -%><div class="subsection-label">주요경력</div><% end -%>
    <% end -%>
  </div>
</div>
