<div class="reply_item">
  <p><%= tweet_reply.user.nickname unless tweet_reply.user.nil? %> <%= tweet_reply.content %></p>
  <span class="reply_date"><%= tweet_reply.created_at.strftime("%Y-%m-%d") %></span>
  <p class="links">
  <% if user_signed_in? -%>
    <%= link_to '신고', blame_tweet_reply_path(tweet_reply), :class => "report_link" %>
    <%= link_to '공감'+tweet_reply.like_count.to_s, like_tweet_reply_path(tweet_reply), :class => "recommend_link" %>
  <% else -%>
    <%= link_to_function '신고', "show_login()" %>
    <%= link_to_function '공감'+tweet_reply.like_count.to_s, "show_login()" %>
  <% end -%>
  </p>
</div>
