<%= form_for(@timeline_entry,:remote => true, :html =>{:class => 'link-form tm-entry-form'}) do |f| %>
	<%= f.hidden_field :politician_id %>
  <div class="prefix_2 grid_8 alpha omega field">
    <div id="link-form-title"><%= current_user.nickname %>님이 <%= @politician.name %> 후보를</div>
    <div class="link-type"><%= f.radio_button 'is_good', 'true' %> 칭찬합니다.</div>
    <div class="link-type"><%= f.radio_button 'is_good', 'false' %> 지적합니다.</div>
  </div>

  <div class="prefix_1 grid_8 suffix_1 alpha omega field">
    <label class="grid_1 alpha">링크주소</label>
    <div class="grid_6"><%=f.text_field :url, :class =>'input-link' %></div>
    <div class="grid_1 omega"><span><img class="preview-status"/></span></div>
    <div class="clear"></div>
  	<div id="link-form-badlink" class="prefix_1 note">유효하지 않은 링크입니다.</div>
  	<div class="clear"></div>
		
  	<div id="link-form-preview" class="prefix_1 grid_7 alpha omega field">
  		<div id="link-form-preview-img" class="grid_1 alpha"></div>
  		<div id="link-form-preview-txt" class="grid_5 omega note"></div>
  	</div>
  </div>


  <div class="prefix_1 grid_8 suffix_1 alpha omega field">
    <label class="grid_1 alpha">제목</label>
    <div class="grid_7 omega">
      <div id="reply_check" class="timeline_new">
        <span class="checkbox twitter"><input name="timeline_entry[tweet]" type="checkbox" /></span>
        <span class="checkbox facebook"><input name="timeline_entry[facebook]" type="checkbox" /></span>
      </div>
      <span class="note">* 페이스북/트위터로 동시에 전송할 수 있습니다.</span>
    </div>

    <label class="grid_1 alpha" id="wepoll-logo-square">로고</label>
    <div class="grid_6"><%= f.text_area :title, :class => 'comment' %></div>
    <div class="grid_1 omega" id="comment-length-indicator"><span id="comment-length">00</span>/50자</div>
  </div>

  <div class="prefix_1 grid_7 suffix_2 alpha omega field">
    <label class="grid_1 alpha">링크날짜</label>
    <div class="grid_6 omega">
      <%= f.date_select('posted_at', :order => [:year, :month, :day])%>
      <div class="note">여기에 등록됩니다. 위치를 바꾸시려면 새로운 날짜를 입력하세요.</div>
    </div>

    <!--<div class="prefix_1 grid_6 alpha omega">
      날짜 bar
    </div>-->
  </div>

  <div class="prefix_1 grid_7 suffix_2 alpha omega field">
    <label class="grid_1 alpha">태그</label>
    <div class="grid_6 omega"><%= f.text_field :tag_text, :placeholder => "한개이상 입력하세요" %></div>
    <div class="prefix_1 grid_6 alpha omega note">
      태그는 5개까지 입력할 수 있습니다.<br />
      여러개를 입력할 경우 엔터키로 구분해주세요.<br />
    </div>
  </div>

  <div class="prefix_1 grid_7 suffix_2 alpha omega field">
    <label class="grid_1 alpha">인기태그</label>
    <div class="grid_6 omega" id="popular-tags">태그1, 태그2, ...</div>
  </div>

  <div id="actions">
    <button href="#" id="link-cancel" class="action" onclick="$.colorbox.close()">돌아가기</button>
    <%= f.submit '등록하기', :id => 'link-post', :class => 'action' %>
  </div>

  <div class="note prefix_1 suffix_1 grid_8" id="post-warning">*타인의 명예를 훼손하거나 사생활을 침해하는 내용 등재 시 처벌의 대상이 될 수 있습니다.</div>
<% end %>
