<div class="link_entries" id="link-entry-<%= timeline_entry.id%>">
  <div class="link_header clearfix">
    <%= image_tag timeline_entry.user.profile_picture, :class => "link_profile_img", :style => "width:40px;" %>
    <div class="link_profile_info"> 
      <p class="name"><%= timeline_entry.user.nickname %></p>
      <p class="time"><%= timeline_entry.posted_ago? %></p>
    </div>
    <%= image_tag (timeline_entry.is_good ? "good_point.gif" : "bad_point.gif"), :style => "float: right;" %>
  </div>
  <div class="link_contents">
    <p>
    <%= timeline_entry.title %>
    </p>
    <script>
      loadUrl("<%= timeline_entry.url %>", "#link-entry-<%= timeline_entry.id %>");
    </script>
    <div class="preview-wrap clearfix">
      <div class="preview-image"></div>
      <div class="preview-text">
        <div class="preview-title"><a href="<%= timeline_entry.url %>"></a></div>
        <div class="preview-url"><%= link_to timeline_entry.url[0..34] + "...", timeline_entry.url %></div>
        <div class="preview-desc"></div>
      </div>
    </div>
  </div>
  <div class="link_footer clearfix">
    <div class="button">
      <p><%= link_to "신고 <span class='timeline-blame-count-#{timeline_entry.id}'>#{timeline_entry.blame_count}</span>".html_safe, blame_timeline_entry_path(timeline_entry), :remote => true %></p>
    </div>
    <div class="button">
      <p><%= link_to "공감 <span class='timeline-like-count-#{timeline_entry.id}'>#{timeline_entry.like_count}</span>".html_safe, like_timeline_entry_path(timeline_entry), :remote => true %></p>
    </div>
  </div>
  <div class="link_reply">
    <% if timeline_entry.more_link? %>
      <div class="link_more">
        <%= link_to "> #{timeline_entry.more_link}개의 댓글 더 보기", link_reply_list_path(timeline_entry, :format => :js), :remote => true %>
      </div>
    <% end %>
    <% timeline_entry.link_replies.reverse[0..2].reverse.each do |r| %>
      <div class="link_replies clearfix">
        <%= image_tag r.user.profile_picture, :style => "width: 40px; float: left; margin-right: 10px;" %>
        <div class="link_replies_body">
          <p class="name"><%= r.user.nickname %> <span class="date"><%= r.posted_ago? %></span></p>
          <p><%= r.body %></p>
        </div>
      </div>
    <% end %>
    <div class="link_reply_input clearfix">
      <%= form_for @link, :remote => true do |f| -%>
        <%= hidden_field_tag 'link_reply[timeline_entry_id]', timeline_entry.id.to_s %>
        <%= hidden_field_tag 'tabsection', "true" %>

        <div class="clearfix">
          <% if user_signed_in? -%>
            <%= image_tag current_user.profile_picture %>
          <% else -%>
            <%= image_tag '/assets/anonymous.gif'%>
          <% end -%>

          <% if user_signed_in? -%>
            <%= f.text_area :body, :id => "", :maxlength => 140, :placeholder => "댓글을 입력하세요."%>
          <% else -%>
            <%= f.text_area :body, :disabled => true, :placeholder => "로그인하면 댓글을 남길 수 있습니다." %>
          <% end -%>
        </div>

        <div style="float: right; margin-right:10px;">
          <div id="comment-length">
            <span class="current-comment-length">0</span>/140자
          </div>
          <%= f.submit '등록', :class => 'link-reply-button' %>
        </div>
      <% end -%>
    </div>
  </div>
</div>
