<% content_for(:scripts) do %>
<script type="text/coffeescript"></script>
<script type="text/javascript">
var timelineView;

Backbone.Model.prototype.toJSON = function() {
  return _(_.clone(this.attributes)).extend({
   'authenticity_token' : $('meta[name="csrf-token"]').attr('content')
  });
 }

//TODO: FEED IN DATA HERE

//var pol1 = "<%= @politicians[0].id %>";
//var pol2 = "<%= @politicians[1].id %>";
var pol1 = <%= @politicians[0].to_json.html_safe %>
var pol2 = <%= @politicians[1].to_json.html_safe %>
var entries = <%= @timeline_entries.to_json.html_safe %>

$(function() {
	timelineController = new modules.TimelineController({pol1:pol1, pol2:pol2, entries:entries <%= if user_signed_in? then ",edit:true" else "" end%>})
	timelineController.startAutoUpdate()
	timelineController.appendTo($("#timeline"))
	
	<% if user_signed_in? %>
	$(".link-new").each(function(index, el) {
		$(el).click(function() {
			$("#tm-entry-new").empty()

			$(modules.TimelineController.getForm([pol1._id,pol2._id][index])).appendTo($('#tm-entry-new')).bind("save", function(evt, model) {
				timelineController.addEntry(model)
				$.colorbox.close()
			}
			)
			$(this).colorbox({inline:true,open:true})

		})
	})

	
	<% end %>

	//$("#link-new").colorbox({inline:true});

	var AppRouter = Backbone.Router.extend({
		routes: {
			"" : "index",
			"all" : "showAll",
			"year" : "showYear",
			"year/:year" : "showYear",
			"quarter" : "showQuarter",
			"quarter/:year" : "showQuarter",
			"quarter/:year/:quarter" : "showQuarter",
			"month" : "showMonth",
			"month/:year" : "showMonth",
			"month/:year/:month" : "showMonth",
			"week" : "showWeek",
			"week/:year" : "showWeek",
			"week/:year/:month" : "showWeek",
			"week/:year/:month/:week" : "showWeek",
			"day" : "showDay",
			"day/:year/:month/:day" : "showDay"

		},
		index: function() {
			timelineController.changeScale('year')
		},
		showAll: function() {
			timelineController.changeScale('all')
		},
		showYear: function(year) {
			if(year)
				timelineController.changeScale('year',year)
			else
				timelineController.changeScale('year')
		},
		showQuarter: function(year,quarter)  {
			if(typeof year =='undefined')
				timelineController.changeScale('quarter')
			else
				timelineController.changeScale('quarter',{year:year,quarter:quarter})
		},
		showMonth: function(year,month)  {
			if(typeof year =='undefined')
				timelineController.changeScale('month')
			else
				timelineController.changeScale('month',{year:year,month:month})
		},
		showWeek: function(year,month,week)  {
			if(typeof year =='undefined')
				timelineController.changeScale('week')
			else
				timelineController.changeScale('week',{year:year,month:month,week:week})
		},
		showDay: function(year,month,day)  {
			if(typeof year =='undefined')
				timelineController.changeScale('day')
			else
				timelineController.changeScale('day',{year:year,month:month,day:day})

		}

	});

	var router = new AppRouter()
	Backbone.history.start();
	router.navigate();


})
</script>
<style type="text/css">

#politician1{
	position:relative;
	height:200px;
}

.photo-holder {
	position:relative;
	width:100px;
	height:100px;
}




#timeline {
position:relative;
overflow:hidden;
height:600px;
/*background-color:#ccc;*/
z-index:10;
}

.timeline-navigator {
	position:absolute;
}

.timeline-canvas {
	position:absolute;
	left:0px;
	right:0px;
	z-index:-1;
}

.timeline-view {
	position:absolute;
	overflow:hidden;
	left:0px;
	width:3000px;/*** quirky measure. **/
}

.tm-hgroup {
	position:relative;
	float:left;
	margin-left:100px;
	width: 200px;
	height: 500px;
	/*background-color:#222;*/
}

.tm-hg-holder {
	position:absolute;
	left:0px;
}

.tm-vgroup {
	position:absolute
}

.tm-slider {
	position:absolute;
	width:200px;
	height:200px;
}

.tm-sl-nav {
	position:absolute;
	width:200px;
}
.tm-entry {
	position:absolute;
	top:40px;
	left:0px;
	background-color:white;
}

.tm-entry-view {
	position:relative;
	width:200px;
	overflow:hidden
}

.tm-legend {
	position:absolute;
	width:200px;
	top:180px;
	z-index:2;
}

#tm-entry-new {
	background-color:white;
}

</style>
<% end %>

<% if user_signed_in? %> 


<div style='display:none'>	
	<div id='tm-entry-new'></div>
</div>
<% end %>

<div id="timeline-nav">
	<a href="#all">전체</a>
	<a href="#year">연</a>
	<a href="#quarter">분기</a>
	<a href="#month">월</a>
	<a href="#week">주</a>
	<a href="#day">일</a>
</div>
<div id="timeline-all" class="container_16">
	<div class="grid_14">
		<div id="lsidebar" class="grid_3 alpha">
			<div id='politician1'>
				<div class="grid_3">
					<div class="photo-holder">
					<%= image_tag @politicians[0].profile_photo.url(:square100), :alt=>'프로필 사진이 없습니다' %>
					</div>
				</div>

				<div class="grid_3">
					<%= @politicians[0].name %>
					<% if user_signed_in? %>
						<a class="link-new" href="#tm-entry-new" title="New Timeline Entry">[항목추가]</a>
					<% end %>
				</div>

			</div>
			
			<div class='clear'></div>
			
			<div id='politician2'>
				<div class="grid_3">
					<div class="photo-holder">
					<%= image_tag @politicians[1].profile_photo.url(:square100),:alt=>'프로필 사진이 없습니다' %>
					</div>
				</div>
				<div class='clear'></div>
				<div class="grid_3">
					<%= @politicians[1].name %>
					<% if user_signed_in? %>
						<a class="link-new" href="#tm-entry-new" title="New Timeline Entry">[항목추가]</a>
					<% end %>

			</div>

			</div>
		</div>
		<div id="timeline" class="grid_11 omega"></div>
	</div>
	<div id="rsidebar" class="grid_2">슬라이더</div>
</div>
