<% content_for(:scripts) do %>
<script type="text/coffeescript"></script>
<script type="text/javascript">
var timelineView;

Backbone.Model.prototype.toJSON = function() {
  return _(_.clone(this.attributes)).extend({
   'authenticity_token' : $('meta[name="csrf-token"]').attr('content')
  });
 }

// FEED IN DATA
var pol1 = <%= @p1.to_json.html_safe %>
var pol2 = <%= @p2.to_json.html_safe %>
var entries = <%= @timeline_entries.to_json.html_safe %>
$(function() {
	timelineController = new modules.TimelineController({pol1:pol1, pol2:pol2, entries:entries <%= if user_signed_in? then ",edit:true" else "" end%>})
	timelineController.startAutoUpdate()
	timelineController.appendTo($("#timeline"))
	
	<% if user_signed_in? %>
  $(".link-new").click(function() {

    $(this).colorbox({title:false,onComplete:function(){

    		$('.tm-entry-form').submit( function() {
					var element = this;
    			var attrs = {};
    			$(element).find('[name^="timeline_entry"]').each(function(index, el) {
						var name = $(el).attr('name')
						if(name.match("posted_at"))
							return;
						else  {
							match = name.match("timeline_entry\\[([_A-Za-z0-9]+)\\]")
							if(match && match.length >= 2)
								attrs[match[1]] = $(el).val()
						}
					});

					var date = []
					$(element).find('select[name^="timeline_entry[posted_at"]').each(function(index,el) {
						date[index] = $(el).val()
					})
					if(date.length)
						attrs['posted_at'] = new Date(date[0],date[1]-1,date[2],0,0,0)

				
					timelineController.createEntry(attrs, {success: function () {
						}
						,error: function() {
							$.gritter({title:"저장에 실패하였습니다.",text:"관리자에 문의하십시오."})
						}
					})
					$.colorbox.close()


    			// prevent actually changing the page
					return false;
				});
    	}
    });
  });
//	$(".link-new").each(function(index, el) {
//		$(el).click(function() {
//			$("#tm-entry-new").empty()
//
//			$(modules.TimelineController.getForm([pol1._id,pol2._id][index])).appendTo($('#tm-entry-new')).bind("save", function(evt, model) {
//				timelineController.addEntry(model)
//				$.colorbox.close()
//			}
//			)
//			$(this).colorbox({inline:true,open:true})
//
//		})
//	})

	$('#timeline-container').corner('20px')
	$('#timeline-container-border').corner('10px').css('z-index','auto')

	<% end %>

	//$("#link-new").colorbox({inline:true});

  $(".tm-entry").click(function() {
    var entry_id = $(this).attr('data-id');
    var url = "/timeline_entries/"+entry_id;
    $(this).colorbox({href:url});

  });

	var AppRouter = Backbone.Router.extend({
		routes: {
			"" : "index",
			"all" : "showAll",
			"year" : "showYear",
			"year/:year" : "showYear",
			"quarter" : "showQuarter",
			"quarter/:year" : "showQuarter",
			"quarter/:year/:quarter" : "showQuarter",
			"month" : "showMonth",
			"month/:year" : "showMonth",
			"month/:year/:month" : "showMonth",
			"week" : "showWeek",
			"week/:year" : "showWeek",
			"week/:year/:month" : "showWeek",
			"week/:year/:month/:week" : "showWeek",
			"day" : "showDay",
			"day/:year/:month/:day" : "showDay"

		},
		index: function() {
			timelineController.changeScale('year')
		},
		showAll: function() {
			timelineController.changeScale('all')
		},
		showYear: function(year) {
			if(year)
				timelineController.changeScale('year',year)
			else
				timelineController.changeScale('year')
		},
		showQuarter: function(year,quarter)  {
			if(typeof year =='undefined')
				timelineController.changeScale('quarter')
			else
				timelineController.changeScale('quarter',{year:year,quarter:quarter})
		},
		showMonth: function(year,month)  {
			if(typeof year =='undefined')
				timelineController.changeScale('month')
			else
				timelineController.changeScale('month',{year:year,month:month})
		},
		showWeek: function(year,month,week)  {
			if(typeof year =='undefined')
				timelineController.changeScale('week')
			else
				timelineController.changeScale('week',{year:year,month:month,week:week})
		},
		showDay: function(year,month,day)  {
			if(typeof year =='undefined')
				timelineController.changeScale('day')
			else
				timelineController.changeScale('day',{year:year,month:month,day:day})

		}

	});

	var router = new AppRouter()
	Backbone.history.start();
	router.navigate();


})
</script>
<style type="text/css">

#timeline-container {
	padding-top:10px;
	padding-left:5px;
	background-color:#555;
	height:440px;
	z-index:2;
	display:none;
	position:fixed;
}

#timeline-container-border {
	position:absolute;
	left:0px;
	top:0px;
	background-color:white;
	margin:8px;
	width:992px;
	height:434px;
}

#timeline-container a{
	color:black;
}

#timeline-all {
}

#tm-politician1{
	position:relative;
	height:200px;
	padding-left:20px;
	padding-top:20px;

	background:url('/assets/bg_politician_timeline_1.gif') no-repeat;
}

#tm-politician2{
	height:200px;
	padding-left:20px;
	padding-top:35px;

	background:url('/assets/bg_politician_timeline_2.gif') no-repeat;

}


.photo-holder {
	position:relative;
	width:100px;
	height:100px;
	border:1px solid black;
}

.politician-photo1 .politician-photo2 {
	position:relative;
}

.pol-name {
text-align:center;
}

#timeline {
font-size:11px;
position:relative;
overflow:hidden;
height:600px;
/*background-color:#ccc;*/
z-index:10;
}

.timeline-navigator {
	position:absolute;
}

.timeline-canvas {
	position:absolute;
	left:0px;
	right:0px;
	z-index:-1;
}

.timeline-view {
	position:absolute;
	overflow:hidden;
	left:0px;
	width:3000px;/*** quirky measure. **/
}

.tm-hgroup {
	position:relative;
	float:left;
	margin-left:100px;
	width: 210px;
	height: 500px;
	/*background-color:#222;*/
}

.tm-hg-holder {
	position:absolute;
	left:0px;
}

.tm-vgroup {
	position:absolute
}

.tm-slider {
	position:absolute;
	width:210px;
	height:200px;
}

.tm-bubble1 {
	background:url('/assets/bubble_timeline_1.gif') no-repeat;
}
.tm-bubble2 {
	background:url('/assets/bubble_timeline_2.gif') no-repeat;
}
.tm-bubble3 {
	background:url('/assets/bubble_timeline_3.gif') no-repeat;
}

.tm-bubble4 {
	background:url('/assets/bubble_timeline_4.gif') no-repeat;
}
.tm-bubble5 {
	background:url('/assets/bubble_timeline_5.gif') no-repeat;
}
.tm-bubble6 {
	background:url('/assets/bubble_timeline_6.gif') no-repeat;
}

.tm-nav-left {
	width:26px;
	height:68px;
	background:url('/assets/icn_timeline_left.gif') no-repeat;
}
.tm-nav-right {
	width:26px;
	height:68px;
	background:url('/assets/icn_timeline_right.gif') no-repeat;
}

.tm-sl-nav {
	position:absolute;
	width:210px;
}

.tm-sl-nav-left {
	width:9px;
	height:12px;
	background:url('/assets/icn_timeline_sl_left.gif') no-repeat;
}

.tm-sl-nav-right {
	width:9px;
	height:12px;
	background:url('/assets/icn_timeline_sl_right.gif') no-repeat;
}

.tm-entry {
	position:absolute;
	top:30px;
	left:0px;
}

.tm-entry-view {
	position:relative;
	width:160px;
	height:90px;
	margin-left:20px;
	margin-right:20px;
	overflow:hidden
}


.tm-bubble4 .tm-entry-view,.tm-bubble5 .tm-entry-view,.tm-bubble6 .tm-entry-view {
	margin-top:10px;
}

.tm-legend {
	position:absolute;
	width:200px;
	top:220px;
	margin-left:50px;
	z-index:2;
}

#tm-entry-new {
	background-color:white;
}

#rsidebar {
margin-top:50px;
z-index:3;
}




.preview-img {
	float:left;
	width:50px;
	height:50px;
}


</style>
<% end %>
<div id="timeline-container" class="grid_16">
<div id="timeline-container-border"></div>


<% if user_signed_in? %> 

<div style='display:none'>	
	<div id='tm-entry-new'></div>
</div>
<% end %>

<div id="timeline-all" class="container_16">
	<div class="grid_14">
		<div id="lsidebar" class="grid_3 alpha">
			<div id='tm-politician1'>
				<div class="grid_2">
					<div class="photo-holder">
					<%= image_tag @p1.nil? ? "http://placehold.it/100" : @p1.profile_photo.url(:square100), :alt=>'프로필 사진이 없습니다',:class=>'politician-photo1' %>
					</div>

					<p class='pol-name'><%= @p1 ? @p1.name : "" %>
					<% if user_signed_in? %>
            <a class="link-new" href="<%= new_timeline_entry_path(:politician_id => @p1.id) %>">[+]</a>
					<% end %>
					</p>
				</div>

			</div>
			
			<div class='clear'></div>
			
			<div id='tm-politician2'>
				<div class="grid_2">
					<div class="photo-holder">
					<%= image_tag @p2 ? @p2.profile_photo.url(:square100) : nil,:alt=>'프로필 사진이 없습니다',:class=>'politician-photo1' %>
					</div>
				<p class='pol-name'>
					<%= @p2 ? @p2.name : "" %>
					<% if user_signed_in? %>
            <a class="link-new" href="<%= new_timeline_entry_path(:politician_id => @p2.id)%>">[+]</a>
				<% end %>
				</p>

			</div>

			</div>
		</div>
		<div id="timeline" class="grid_11 omega"></div>
	</div>
	<div id="rsidebar" class="grid_2">
		<p><a href="#all">전체</a></p>
		<p><a href="#year">연</a></p>
		<p><a href="#quarter">분기</a></p>
		<p><a href="#month">월</a></p>
		<p><a href="#week">주</a></p>
		<p><a href="#day">일</a></p>
	</div>
</div>
</div><!-- class='timeline-container'-->
