<% content_for(:scripts) do %>
<script type="text/javascript">
var timelineController = {};
// FEED IN DATA
var pol1 = <%= @p1.to_json.html_safe %>;
var pol2 = <%= @p2.to_json.html_safe %>;
var entries = <%= @timeline_entries.to_json(:include => {:link_replies => {:only =>[:count]}}).html_safe %>;

Backbone.Model.prototype.toJSON = function() {
  return _(_.clone(this.attributes)).extend({
   'authenticity_token' : $('meta[name="csrf-token"]').attr('content')
  });
 }

function submitTimelineEntryForm(element,id)  {
	var attrs = {};
	$(element).find('select,input,checkbox,radio,textarea').each(function(index, el) {
		var nameattr = $(el).attr('name')
		if(!nameattr || nameattr =='utf8' || nameattr == '_method' || nameattr == 'authenticity_token' || nameattr == 'commit')
			return;
		var match = nameattr.match("timeline_entry\\[([_A-Za-z0-9]+)\\]")
		var name;
		if(match && match.length >= 2)
			name = match[1];
		else
			name = nameattr;

		if($(el).is("select"))
			return;
		if($(el).is("input[type=radio]")) {
			if($(el).attr('checked'))
				attrs[name] = $(el).val() 
		}
		else if($(el).is("input[type=checkbox]")) { 
		  if($(el).attr('checked'))
				attrs[name] = $(el).val() 
		}
		else
			attrs[name] = $(el).val()
	});

	var date = []
	$(element).find('select[name^="timeline_entry[posted_at"]').each(function(index,el) {
		date[index] = $(el).val();
	})
	if(date.length)
		attrs['posted_at'] = new Date(date[0],date[1]-1,date[2],0,0,0)

	if(typeof id != 'undefined')  {
		timelineController.updateEntry(id,attrs, {success:function(model) {
		}
		,error: function() {
			}
		});
	}
	else  {	
		timelineController.createEntry(attrs, {success:function(model) {
			}
			,error: function() {
			}
		});
	}
	// update recent links view

//	$.load "/timeline_entries/
}

function loadPreview(url,onload,onerror)  {
	$('.preview-status').attr("src", "/assets/ajax-loader.gif").attr('title', '링크를 검사중입니다')

	$.ajax({url: '/api/article_parse', data: {force_get:true,url:url, authenticity_token : $('meta[name="csrf-token"]').attr('content')},type: 'POST', dataType: 'json', success:
   
		function(data) {
			onload(data);
		}
		, error:
		function(xhr,textstatus,error) {
			if(onerror)
				onerror();
		}
	});

	
}

function activateTimelineFormPreview(onload,onerror)  {
	var timeout = null;
	var url = null
	input = $('.input-link')
	input.keydown(function() {
		if(timeout)
			clearTimeout(timeout);
		timeout = setTimeout(function() {
			timeout = null
			if(input.val() != url)
				loadPreview(input.val(),onload,onerror)
			url = input.val()
		},1000)
	});

	input.focusout(function() {
		if(input.val() != url)
			loadPreview(input.val(),onload,onerror)
		url = input.val()
	})
	
	loadPreview(input.val(),onload,onerror)

}


function activateTimelineEntryForm() {
	activateTimelineFormPreview(function successful(data){
		$('.preview-status').attr("src", "/assets/good.gif").attr('title', '링크가 확인되었습니다.');
		$('#link-post').removeAttr('disabled');
		$('#timeline_entry_preview_id').val(data.id)
		$('#link-form-badlink').hide();
		if(data.image)  {
			$('#link-form-preview-img').html("<img class='grid_1' src='" + data.image + "'/>");
			$('#link-form-preview-txt').removeclass('prefix_1');
		}
		else
			$('#link-form-preview-txt').addclass('prefix_1');
		
		if(data.created_at)  {
			var d = date.parse(data.created_at);
			if(!d)  {
				var match = data.created_at.match(/[0-9\.\-]+/);
				if(match)  {
					d = date.parse(match[0].replace(/\./g,"-"));
				}
				
			}
			if(d)  {
				$('#timeline_entry_posted_at_1i').val(d.getfullyear());
				$('#timeline_entry_posted_at_2i').val(d.getmonth()+1);
				$('#timeline_entry_posted_at_3i').val(d.getdate());
			}

		}

		$('#link-form-preview-txt').html(data.title);

	},function failed(){
		var msg = $(".input-link").val().length > 0 ? '미리보기가 제공되지 않는 링크입니다.' : '링크를 입력하세요.';
    $('#timeline_entry_preview_id').val("nil")
		$('.preview-status').removeAttr("src").attr('title',msg);
// 유효하지 않은 링크가 있어도 등록할 수 있도록
//		$('#link-post').attr('disabled','disabled');
		$('#link-form-badlink').show().html(msg);
		$('#link-form-preview-img').empty();
		$('#link-form-preview-txt').empty();

	})
	
	tags = $("#timeline_entry_tag_text").val();
	var tagInput;
	var numTags = 0;
	function onAddTag(tag) {
		console.info('add', arguments)
		numTags ++;
		if(numTags > 5)
			tagInput.removeTag(tag)
	}
	function onRemoveTag() {
		numTags --;
	}
	tagInput = $("#timeline_entry_tag_text").tagsInput({maxChars:'10',defaultText:'태그추가',onAddTag:onAddTag,onRemoveTag:onRemoveTag});
	if(tags)  {
		numTags = tags.split(",").length
		tagInput.importTags(tags);
	}


}


// On Load
$(function() {
  timelineController = new modules.TimelineController({pol1:pol1, pol2:pol2, entries:entries <%= if user_signed_in? then ",edit:true" else "" end%>});
  timelineController.appendTo($("#timeline"));

  // update entry for recent-links
  timelineController.on("addEntry", function(model)  {
    //update links count graph
    updateGraphCount(model.get("politician_id"));
    // ignore if already exists

    if($(".link-entry-" + model.id).length >0)
      return;
    $.get("/timeline_entries/"+model.id+"/entry", 
      function(html) {
        $("#politician-" + model.get("politician_id") + "-recent-links").prepend(html);
      });
    }
  );

	<% if user_signed_in? %>
  $(".link-new").click(function() {
    $(this).colorbox({title:false,width:'800px',height:'650px',onComplete:function(){
    	activateTimelineEntryForm();
      $('span.checkbox').addClass("unchecked");
      $(".checkbox").click(function(){
        if($(this).children("input").attr("checked")){
          // uncheck
          $(this).children("input").removeAttr("checked");
          $(this).removeClass("checked");
          $(this).addClass("unchecked");
        }else{
          // check
          $(this).children("input").attr({checked: "checked"});
          $(this).removeClass("unchecked");
          $(this).addClass("checked");
        }
      });
			$('.tm-entry-form').submit( function() {
				$.colorbox.close();
				submitTimelineEntryForm(this);
				return false;
			});

    	}
    });
  });
	<% end %>

	//$('#timeline-container').corner('20px')
	$('#timeline-container-border').corner('10px').css('z-index','auto');
	$('#timeline-bg').corner('10px').css('z-index','auto');


  $(".tm-entry").click(function() {
    var entry_id = $(this).attr('data-id');
    var url = "/timeline_entries/"+entry_id;
    $(this).colorbox({width: 800, href:url, onComplete:function() {
      $('#link_reply_body').placeholder();
      FB.XFBML.parse($("#fb-link-like")[0]);
    }});
  });

  Raphael(function() {
// IE problem?
  	var src1 = $('.politician-photo1').attr('src');
  	var src2 = $('.politician-photo2').attr('src');
		$('.politician-photo1').replaceWith("<div id='politician_photo1' class='politician-photo1'></div>");
		$('.politician-photo2').replaceWith("<div id='politician_photo1' class='politician-photo2'></div>");
  	Raphael($('.politician-photo1').get(0),80,80).image(src1, 0,0,60,60).rotate(3);
  	Raphael($('.politician-photo2').get(0),80,80).image(src2, 0,0,60,60).rotate(-3);

	},80,80);

	var AppRouter = Backbone.Router.extend({
		routes: {
			"" : "index",
			"all" : "showAll",
			"year" : "showYear",
			"year/:year" : "showYear",
			"quarter" : "showQuarter",
			"quarter/:year" : "showQuarter",
			"quarter/:year/:quarter" : "showQuarter",
			"month" : "showMonth",
			"month/:year" : "showMonth",
			"month/:year/:month" : "showMonth",
			"week" : "showWeek",
			"week/:year" : "showWeek",
			"week/:year/:month" : "showWeek",
			"week/:year/:month/:week" : "showWeek",
			"day" : "showDay",
			"day/:year/:month/:day" : "showDay"

		},
		index: function() {
			timelineController.changeScale('year');
		},
		showAll: function() {
			timelineController.changeScale('all');
		},
		showYear: function(year) {
			if(year)
				timelineController.changeScale('year',year);
			else
				timelineController.changeScale('year');
		},
		showQuarter: function(year,quarter)  {
			if(typeof year =='undefined')
				timelineController.changeScale('quarter');
			else
				timelineController.changeScale('quarter',{year:year,quarter:quarter});
		},
		showMonth: function(year,month)  {
			if(typeof year =='undefined')
				timelineController.changeScale('month');
			else
				timelineController.changeScale('month',{year:year,month:month});
		},
		showWeek: function(year,month,week)  {
			if(typeof year =='undefined')
				timelineController.changeScale('week');
			else
				timelineController.changeScale('week',{year:year,month:month,week:week});
		},
		showDay: function(year,month,day)  {
			if(typeof year =='undefined')
				timelineController.changeScale('day');
			else
				timelineController.changeScale('day',{year:year,month:month,day:day});

		}

	});

	var router = new AppRouter()
	Backbone.history.start();
	router.navigate();

})
</script>
<% end %>
<div id="timeline-container" class="alpha omega">
<!--<div id="timeline-container-border"></div>
<div id="timeline-bg"></div>-->


<% if user_signed_in? %> 

<div style='display:none'>	
	<div id='tm-entry-new'></div>
</div>
<% end %>

<div id="timeline-all" class="container_16">
	<div class="grid_14">
		<div id="lsidebar" class="grid_3 alpha">
			<div id='tm-politician1'>
				<div class="grid_2">
					<div class="photo-holder">
						<%= image_tag @p1 ? @p1.profile_photo.url(:square100) : "http://placehold.it/100", :alt=>'프로필 사진이 없습니다',:class=>'politician-photo1' %>
						<div class='pol-name'><%= @p1 ? raw(@p1.name.split("").join('<br/>')) : "" %>
						<% if user_signed_in? && @p1 %>
							<a class="link-new" href="<%= new_timeline_entry_path(:politician_id => @p1.id) %>">[+]</a>
						<% end %>
						</div>

					</div>

				</div>

			</div>
			
			<div class='clear'></div>
			
			<div id='tm-politician2'>
				<div class="grid_2">
					<div class="photo-holder">
					<%= image_tag @p2 ? @p2.profile_photo.url(:square100) : "http://placehold.it/100",:alt=>'프로필 사진이 없습니다',:class=>'politician-photo2' %>
					</div>
				<p class='pol-name'>
					<%= @p2 ? raw(@p2.name.split("").join('<br/>')) : "" %>
					<% if user_signed_in? && @p2%>
            <a class="link-new" href="<%= new_timeline_entry_path(:politician_id => @p2.id)%>">[+]</a>
				<% end %>
				</p>

			</div>

			</div>
		</div>
		<div id="timeline" class="grid_11 omega"></div>
	</div>
	<div id="rsidebar" class="grid_2">
		<p><a href="#all">전체</a></p>
		<p><a href="#year">연</a></p>
		<p><a href="#quarter">분기</a></p>
		<p><a href="#month">월</a></p>
		<p><a href="#week">주</a></p>
		<p><a href="#day">일</a></p>
	</div>
</div>
</div><!-- class='timeline-container'-->
