<script type="text/javascript">
  $(function() {
    $('span.checkbox').addClass("unchecked");
    $(".checkbox").click(function(){
      if($(this).children("input").attr("checked")){
        // uncheck
        $(this).children("input").removeAttr("checked");
        $(this).removeClass("checked");
        $(this).addClass("unchecked");
      }else{
        // check
        $(this).children("input").attr({checked: "checked"});
        $(this).removeClass("unchecked");
        $(this).addClass("checked");
      }
    });

    $("#link_reply_body").keyup(function() {
      var $this = $(this);
      var max = parseInt($this.attr('maxlength'));
      var len = $this.val().length;
      if (len > max) {
        console.log("len>max");
        $this.val($this.val().substr(0, max));
        len = $this.val().length;
      }

      $("#current-comment-length").text(len);

      $("#link-reply-button").click(function() {
      //  $(this).attr("disabled", true);
        return true;
      });
    });

    //fucking ie
    $.support.placeholder = false;
    var test = document.createElement('input');
    if('placeholder' in test) $.support.placeholder = true;

    if(!$.support.placeholder) { 
      var active = document.activeElement;
      $('textarea').focus(function () {
        if ($(this).attr('placeholder') != '' && $(this).val() == $(this).attr('placeholder')) {
          $(this).val('').removeClass('hasPlaceholder');
        }
      }).blur(function () {
        if ($(this).attr('placeholder') != '' && ($(this).val() == '' || $(this).val() == $(this).attr('placeholder'))) {
          $(this).val($(this).attr('placeholder')).addClass('hasPlaceholder');
        }
      });
      $('textarea').blur();
      $(active).focus();
      $('form').submit(function () {
        $(this).find('.hasPlaceholder').each(function() { $(this).val(''); });
      });
    }
  });
</script>

<div class="container_16" id="link-detail-wrapper">
  <div class="grid_11 alpha omega">
    <div class="grid_6 alpha" id="replies-left">
      <div class="grid_2 alpha" id="link-like-count">
        <span id="like-count"><%= @timeline_entry.recommend_count %></span><br />
        <span style="color:#48d822;font-size:9pt;">공감</span>
      </div>

      <img class="grid_1" id="link-thumbnail" src="<%= @timeline_entry.thumbnail.url(:square48)%>" />
      <div class="grid_3 omega" id="link-title-wrapper">
        <div id="link-title"><%= @timeline_entry.title %></div>
        <div id="link-url"><%= link_to truncate(@timeline_entry.url, :length => 35), @timeline_entry.url%></div>
      </div>

    </div>

    <div class="grid_5 omega" id="replies-right">

      <div id="link-user" class="clearfix">
        <div style="color:#706d5d;font-size:8pt;">올린이</div>
        <img src="<%=@timeline_entry.user ? @timeline_entry.user.profile_picture.url(:square50) : "/assets/anonymous.gif"%>" id="link-user-photo" />
        <div id="link-user-info">
          <span id="link-user-name"><%= @timeline_entry.user ? @timeline_entry.user.nickname : "정보없음" %></span><br />
          <span id="link-time-ago"><%= time_ago_in_words @timeline_entry.created_at %></span>
        </div>
      </div>

      <%= form_for @new_link, :remote => true do |f| -%>
        <%= hidden_field_tag 'link_reply[timeline_entry_id]', @timeline_entry.id.to_s %>
        <% if user_signed_in? -%>
          <%= image_tag current_user.profile_picture.url(:square50), :id => "current-user-photo" %>
        <% else -%>
          <%= image_tag '/assets/anonymous.gif', :id => "current-user-photo" %>
        <% end -%>
        <div id="reply_check">
          <span class="checkbox twitter"><input name="tweet" type="checkbox" /></span>
          <span class="checkbox facebook"><input name="facebook" type="checkbox" /></span>
        </div>

        <% if user_signed_in? -%>
          <%= f.text_area :body, :maxlength => 140%>
        <% else -%>
          <%= f.text_area :body, :disabled => true, :placeholder => "로그인하면 댓글을 남길 수 있습니다." %>
        <% end -%>

      <div style="float: right; margin-right:10px;">
        <div id="comment-length">
          <span id="current-comment-length">0</span>/140자
        </div>
        <%= f.submit '등록', :id => 'link-reply-button' %>
      </div>
      <% end -%>

      <div class="clear"></div>

      <div>
        댓글(<span id="link-reply-count"><%= @link_replies.count %></span>개)
      </div>

      <div id="link-reply-list">
        <%= render @link_replies %>
      </div>
    </div>
  </div>
</div>
