<div id="mypage_dashboard">
  <div class="row">
    <div class="span5 status">
        <% if current_user.facebook_token -%>
          <div class="alert alert-success facebook">
            <%= link_to image_tag('me/unlink.png'), "https://facebook.com/#{current_user.facebook_token.uid}" %>
          </div>
        <% else -%>
          <div class="alert facebook">
            <%= link_to image_tag('me/link.png'), me_sns_link_path(:facebook), :class => 'btn btn-small' %>
          </div>
        <% end -%>

        <% if current_user.twitter_token -%>
          <div class="alert alert-success twitter">
            <%= link_to image_tag('me/unlink.png'), "https://twitter.com/users/#{current_user.twitter_token.uid}" %>
          </div>
        <% else -%>
          <div class="alert twitter">
            <%= link_to image_tag('me/link.png'), me_sns_link_path(:twitter), :class => 'btn btn-small' %>
          </div>
        <% end -%>
    </div>

    <div class="grid_14 push_1">
      <h3 class="small_title">내가 올린 링크</h3>
      <h3 class="small_title pull-right"><%= @uploaded_links.count %>개</h3>
      <div class="link_list">
        <table>
          <thead>
            <tr>
              <th class="list_date">날짜</th>
              <th class="list_title">제목</th>
              <th class="list_count">공감</th>
              <th class="list_count">신고</th>
            </tr>
          </thead>
          <tbody id="uploaded_links">
            <%= render @uploaded_links %>
          </tbody>
        </table>
      </div>
      <div id="uploaded_paginator" class="paginator">
        <%= paginate @uploaded_links, :remote => true %>
      </div>
    </div>
    <div class="clear"></div>

    <div class="grid_14 push_1">
      <h3 class="small_title">내가 공감한 링크</h3>
      <h3 class="small_title pull-right"><%= @recommend_links.count %>개</h3>
      <div class="link_list">
        <table>
          <thead>
            <tr>
              <th class="list_date">날짜</th>
              <th class="list_title">제목</th>
              <th class="list_count">공감</th>
              <th class="list_count">신고</th>
            </tr>
          </thead>
          <tbody id="recommend_links">
            <%= render @recommend_links %>
          </tbody>
        </table>
      </div>
      <div id="recommend_paginator" class="paginator">
        <%= paginate @recommend_links, :remote => true, :param_name => 'page_2' %>
      </div>
    </div>
    <div class="clear"></div>

  </div>
</div>
