<% unless user_signed_in? -%>
<div class="">
  <div class="grid_2 alpha login-notice" style="width:80px;">
    소셜로그인
  </div>
  <div class="grid_2 omega login-notice" style="width:80px;">
    위폴알리기
  </div>
  <div class="clear"></div>
  <div class="grid_1 alpha" style="width:30px;">
    <%= link_to image_tag('/assets/btn_fb.png'), "/users/auth/facebook", :class => "popup-auth"%>
  </div>
  <div class="grid_1" style="width:30px; margin-right:20px;">
    <%= link_to image_tag('/assets/btn_tw.png'), "/users/auth/twitter", :class => "popup-auth"%>
  </div>
  <div class="grid_1 alpha omega" style="width:80px;">
    <div class="fb-like" data-href="http://wepoll.or.kr" data-send="false" data-layout="button_count" data-width="220" data-show-faces="false"></div>
    <a href="https://twitter.com/share" class="twitter-share-button" data-hashtags="wepoll">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>
</div>

<% else -%>
  <div class="grid_1 alpha" id="profile-pic-thumb-wrapper">
    <%= image_tag current_user.profile_picture.url(:square50), :style => "width:40px;height:40px;", :id => 'profile-pic-thumb'%>
  </div>
  <div class="grid_2 omega">
    <div id="nickname">
      <%=current_user.nickname %> 님
    </div>
    <div id="session-actions">
      <%= link_to "MY PAGE", me_dashboard_path %>
      <%= link_to "LOGOUT", destroy_user_session_path, :method => :delete %>
    </div>
  </div>
<% end -%>
