<div class="write-message-area">
  <%= form_for(@message, :remote => true, :html =>{:class => 'link-form message-form'}) do |f| %>
    <%= f.hidden_field :politician_id %>
    <%= f.hidden_field :preview_id %>

    <div id="message-form-politicians" class="clearfix">
      <div id="district-box">
        <span><%= @p1.district %></span><br />
        후보
      </div>
      <div id="politicians-box">
        <% @politicians.each do |p| -%>
          <div class="radio-politician">
            <%= f.label 'politician_id_'+p.id.to_s, image_tag(p.profile_photo.url(:square50)), :class => "img-label clearfix" %>
            <%= f.radio_button :politician_id, p.id %>
            <%= f.label 'politician_id_'+p.id.to_s, p.name, :class => "txt-label" %>
          </div>
        <% end -%>
      </div>
    </div>

    <div id="message-body-container">
      <%= f.text_area :body, :class => 'comment', :maxlength => 250, :placeholder => "한마디를 입력하세요." %>
      <div id="message-length-indicator"><span id="message-body-length">00</span>/250</div>
      <div id="message-form-preview" class="preview">
        <img class="preview-img" src="" />
        <div id="message-form-preview-right" class="preview-right">
          <div id="message-form-preview-title" class="preview-title"></div>
          <div id="message-form-preview-link" class="preview-link"></div>
          <div id="message-form-preview-txt" class="preview-txt"></div>
        </div>
      </div>
    </div>
    <%= f.submit '확인', :id => "message-submit-btn" %>
    <div class="reply_check">
      <span class="checkbox facebook"><input name="message[facebook]" type="checkbox" /></span>
      <span class="checkbox twitter"><input name="message[tweet]" type="checkbox" /></span>
      <span class="note">SNS로 보내기</span>
    </div>
  <% end %>
</div>

<script type="text/javascript">
	$(function(){
		var loaded_url = '';
		$('#message_body').keyup(function(event) {
				var str = $('#message_body').val();
			if (event.keyCode == 32) {
				var regex = /\b([\d\w\.\/\+\-\?\:]*)((ht|f)tp(s|)\:\/\/|[\d\d\d|\d\d]\.[\d\d\d|\d\d]\.|www\.|\.tv|\.ac|\.com|\.edu|\.gov|\.int|\.mil|\.net|\.org|\.biz|\.info|\.name|\.pro|\.museum|\.co)([\d\w\.\/\%\+\-\=\&amp;\?\:\\\&quot;\'\,\|\~\;]*)\b/gi;
				var url = str.match(regex);
				if (url != null && loaded_url != url) {
					loadUrl(url);
					loaded_url = url;
				}
			}

			var $this = $(this);
			var max = 250;
			var len = str.length;
			if (len > max) {
				$('#message_body').val(str.substr(0, max));
				len = $('#message_body').val().length;
			}
			$("#message-body-length").text(len);
		});

	$('#new_message').submit(function() {
		var data_string = $('#new_message').serialize();
		//console.log(data_string);
		$.ajax({
			type: "POST",
			url: "/messages",
			data: data_string,
		});
		return false;
	});
});


	function loadUrl(url)  {
		$.ajax({ url: '/api/article_parse', data: 'url='+encodeURIComponent(url), type: 'POST', dataType: 'json', success: 
			function(data)  { 
				$('#message_preview_id').val(data.id)
				if(data.image)
					$('#message-form-preview img.preview-img').attr('src', data.image);

        $('#message-form-preview-title').html(data.title);
        $('#message-form-preview-link').html(data.url);
				$('#message-form-preview-txt').html(data.description);
				$('#message-body-container .comment').css('border-bottom','none');
        $('#message-form-preview').toggle();
        $('#message-form-preview').css('display', 'block');
			} 
		}); 
	}
</script>
