<div class="namecard<%=index==0 ? " alpha" : ""%>">
  <% unless politician.nil? -%>
    <%= link_to forum_path(politician) do  %>
      <div class="tweet-bubble <%= index==0?"left":"right"%>">
        <%= tweet ? tweet.content : "최근 트윗이 없습니다." %>
      </div>
    <% end -%>
  <% end -%>

  <div class="politician-photo-wrapper <%=index==0?"left":"right"%>">
    <%= image_tag politician && politician.profile_photo? ? politician.profile_photo.url(:square100) : "http://placehoold.it/160", :class => "photo" %>
    <div class="photo-frame"></div>
  </div>

  <dl data-district="<%= @district%>" id="<%= "politician#{(index==0 ?  1 : 2)}"%>" class="dropdown <%= index==0?"left":"right"%>">
    <dt><a href="#"><span class="value"><%=politician.id %></span><span class="party" style="color:<%= @party_color[politician.party]||"black" %>"><%= politician.party%></span>&nbsp;<span class="name"><%= politician.name %></span></a></dt>
    <dd>
    <ul>
      <% @politicians.each do |p| -%>
        <% next if p.id == (index==0?@p2 : @p1).id -%>
        <li><a href="#" class="<%= p.id == politician.id ? "current":"" %>" data-id="<%= p.id%>"><span class="value"><%=p.id%></span><span class="party" style="color:<%= @party_color[p.party]||"black" %>"><%= p.party%></span>&nbsp;<span class="name"><%= p.name%></span></a></li>
      <% end -%>
    </ul>
    </dd>
  </dl>
  <div class="clear"></div>

  <div class="link-graph-wrapper clearfix">
    <div class="graph-stopper <%=index==0?"right":"left"%>"></div>
    <div id="p<%= index+1 %>-good-link" class="bar-graph good-links"
      data-color="#81d9fb,#60cbfa"
      data-total="-1"
      data-height="10,8"
      data-ref="#p<%= 2-index%>-good-link"
      data-float="<%= index==0 ? "right" : "left"%>"
      data-value="<%= politician ? politician.good_link_count : 0%>">
    </div>
    <div class="clear"></div>

    <div class="graph-stopper <%= index==0?"right":"left" %>"></div>
    <div id="p<%=index+1 %>-bad-link" class="bar-graph bad-links"
      data-color="#686868,#4a4a4a"
      data-total="-1"
      data-height="10,8"
      data-float="<%= index==0 ? "right" : "left"%>"
      data-ref="#p<%= 2-index%>-bad-link"
      data-value="<%= politician ? politician.bad_link_count : 0%>">
    </div>
  </div>
  <%= link_to '링크등록', new_timeline_entry_path(:politician_id => politician.id)  , :class => "link-button #{index==0?'left':'right'}"%>
</div>
