<div class="namecard<%=index==0 ? " alpha" : ""%>">
  <% unless politician.nil? -%>
    <% unless politician.tweet_name.nil? -%>
      <%= link_to forum_path(politician.tweet_name) do  %>
        <div class="tweet-bubble <%= index==0?"left":"right"%>">
          <%= tweet ? (tweet.content.length>100 ? (raw tweet.content[0..100].html_safe)+"..." : (raw tweet.content.html_safe) ) : "최근 트윗이 없습니다." %>
        </div>
      <% end -%>
    <% else -%>
      <div class="tweet-bubble <%= index==0?"left":"right"%>">
        후보의 트위터 아이디가 없습니다.
      </div>
    <% end -%>
  <% else -%>
      <div class="tweet-bubble <%= index==0?"left":"right"%>">
        후보자가 없습니다.
      </div>
  <% end -%>

  <div class="politician-photo-wrapper <%=index==0?"left":"right"%>">
    <%= image_tag politician && politician.profile_photo? ? politician.profile_photo.url(:square160) : "http://placehoold.it/160", :class => "photo" %>
    <div class="photo-frame"></div>
  </div>

  <dl id="<%= "politician#{(index==0 ?  1 : 2)}"%>" class="dropdown <%= index==0?"left":"right"%>">
    <% if politician -%>

    <dt><a><span class="value"><%=politician.id %></span><span class="party" style="color:<%= @party_color[politician.party]||"black" %>"><%= politician.party%></span>&nbsp;<span class="name"><%= politician.name %></span></a></dt>
    <% else -%>
    <dt><a href="#"><span class="name">후보없음</span></a></dt>
    <% end -%>
    <!--
    <dd>
    <ul>
      <% @politicians.each do |p| -%>
        <% next if p.id == (index==0?(@p2 || @p1) : @p1).id -%>
        <li><a href="#" class="<%= p.id == politician.id ? "current":"" %>" data-id="<%= p.id%>"><span class="value"><%=p.id%></span><span class="party" style="color:<%= @party_color[p.party]||"black" %>"><%= p.party%></span>&nbsp;<span class="name"><%= p.name%></span></a></li>
      <% end -%>
    </ul>
    </dd>
    -->
  </dl>

  <div class="clear"></div>

  <!--
  <div class="link-graph-wrapper clearfix">

    <div class="graph-stopper <%=index==0?"right":"left"%>"></div>
    <div id="p<%= index+1 %>-good-link" class="bar-graph politician-<%=politician.id %> good-links"
      data-color="#81d9fb,#60cbfa"
      data-total="<%= [@p1, @p2].inject(0) {|s,p| s + (p ? (p.good_link_count+p.bad_link_count) : 0)}  %>"
      data-height="10,8"
      data-ref="#p<%= 2-index%>-good-link"
      data-float="<%= index==0 ? "right" : "left"%>"
      data-value="<%= politician ? politician.good_link_count : 0%>">
    </div>
    <div class="clear"></div>


    <div class="graph-stopper <%= index==0?"right":"left" %>"></div>
    <div id="p<%=index+1 %>-bad-link" class="bar-graph politician-<%=politician.id%> bad-links"
      data-color="#686868,#4a4a4a"
      data-total="<%= [@p1, @p2].inject(0) {|s,p| s + (p ? (p.good_link_count+p.bad_link_count) : 0)}  %>"
      data-height="10,8"
      data-float="<%= index==0 ? "right" : "left"%>"
      data-ref="#p<%= index+1%>-good-link"
      data-value="<%= politician ? politician.bad_link_count : 0%>">
    </div>
  </div>
  -->

  <% if politician -%>
    <% if user_signed_in? -%>
      <%= link_to '링크등록', new_timeline_entry_path(:politician_id => politician.id), :title => (politician.name + "에 관한 링크를 등록하여 공유하세요"), :class => "link-button #{index==0?'left':'right'} new tooltip-top"%>
    <% else -%>
      <%= link_to_function '링크등록', "show_login()", :title => (politician.name + "에 관한 링크를 등록하여 공유하세요"), :class => "link-button #{index==0?'left':'right'} login tooltip-top" %>
    <% end -%>
  <% end -%>
</div>
