<%content_for :scripts do -%>
  <script type="text/javascript">
    $(function() {

      $(".politician-select").change(function() {
        var $this = $(this);
        if ($this.attr("value") == "<%= @p1.nil? ? "" : @p1.id%>" || 
        $this.attr("value") == "<%= @p2.nil? ? "" : @p2.id%>") {

          if ($this.attr("id") == "politician1") 
            $this.val("<%= @p1.nil? ? "" : @p1.id %>");
          if ($this.attr("id") == "politician2") 
            $this.val("<%= @p2.nil? ? "" : @p2.id %>");

          return false;
        }

        var ids = $(".politician-select").map(function(i, select) {
          var $select = $(select);
          return $select.attr("value");
        });
        <% if @p1 && @p1.district -%>
        var url = "/district/"+"<%= @p1.district%>"+"/"+ids[0].toString()+"/"+ids[1].toString();
        <% else -%>
        var url = "";
        <% end -%>
        $(location).attr('href',url);

      });
      var timelineInitialized = false
      $('#show-timeline').click( function() {
        $('#timeline-container').jqmShow();

        if(!timelineInitialized)
        {
          timelineController.reset()
        }
        timelineInitialized = true;
        return false
      });

      $('#timeline-container').jqm({overlay:1});

      $(".link-button").click(function() {
        <% if user_signed_in? -%>
          $(this).colorbox({title:false,width:'800px',height:'650px',onComplete:function(){
            activateTimelineEntryForm();
            $('.tm-entry-form').submit( function() {
              $.colorbox.close();
              submitTimelineEntryForm(this);
              return false;
            });

          }
          });
        <% else -%>
          $.gritter.add({title:" ",text:"로그인을 하셔야 링크를 올릴 수 있습니다."});
          return false;
        <% end -%>
      });
    });

  </script>
<% end -%>

<%= render 'timeline_entries/index' %>
<a href="#" id="show-timeline">&nbsp;</a>

<div class="grid_12" id="vs-content-wrapper">
  <div id="district-title">
    이 공간은 <span id="district-label"><%= @district %></span> 대결 페이지입니다.
  </div>

  <div id="district-desc">
    후보들에 대한 링크를 달아보세요! 상대에 대한 욕설 및 비방은 삼가주세요.<br />
    트위터말풍선을 누르면 트윗토론방으로 이동합니다.<br />
    좋아요 버튼을 눌러서 친구들에게도 <%= @district%> 페이지를 알려주세요.<br />
  </div>

  <div id="name-cards" class="clearfix">
    <% [@p1, @p2].each_with_index do |politician,i| -%>
      <%= render :partial => 'namecard', :locals => {:politician => politician, :index => i, :tweet => @tweets[i]} %>
      <% if i==0 -%>
        <div id="split-bar">
          <%= image_tag '/assets/icn_smile.gif', :class => "icn-bar-graph", :style => "margin-top:360px;" %>
          <%= image_tag '/assets/icn_frown.gif', :class => "icn-bar-graph", :style => "margin-top:20px;" %>
        </div>
      <% end -%>
    <% end -%>
  </div>

  <!-- tab 시작 -->
  <div id="tab-wrapper">
    <div id="tabs" class="clearfix">
      <%= link_to '최신링크',
        '#',
        :class => 'tab alpha', "data-id" => "recent-links" %>
        <%= link_to '인기링크',
          '#',
          :class => 'tab', "data-id" => "popular-links" %>
          <%= link_to '국회활동',
            bill_activities_of_politicians_path(:id1 => @p1.nil? ? nil : @p1.id, :id2 => @p2.nil? ? nil : @p2.id),
            :class => 'tab', "data-id" => "bill-activity" %>
            <%= link_to '프로필', profiles_of_politicians_path(:id1 => @p1.nil? ? nil : @p1.id, :id2 => @p2.nil? ? nil : @p2.id), :class => 'tab selected', "data-id" => "profile"%>
            <%= link_to_function '공약', 'alert("준비중입니다^^");', :class => 'tab omega disabled', "data-id" => "promise" %>
          </div>

          <div class="grid_11 alpha omega clearfix" id="tab-sections-container">
          </div> <!-- end of tab conainer -->

        </div>
      </div>


