<% content_for :scripts do -%>
  <script type="text/javascript">

    $(document).ready(function() {
      $(".bar-graph").simpleBarGraph({
        width:176, 
        height:5
      });

      $(".tab-section").hide();
      $(".tab").click(function() {
        var $this = $(this);
        var id = $this.attr("data-id");
        var $tab_section = $("#"+id);
        $(".tab-section").hide();
        $tab_section.show();
      });
      $(".tab").eq(0).click();

      //draw pie chart
      var p1_bill_counts = [<%= @p1_bill_counts.join(",") %>];
      var p1_bill_categories = $.parseJSON('<%=raw @p1_bill_categories.to_json %>');

      var p2_bill_counts = [<%= @p2_bill_counts.join(",")%>];
      var p2_bill_categories = $.parseJSON('<%=raw @p2_bill_categories %>');
      Raphael("p1-bill-graph", 176, 176).pieChart(176/2,176/2,80, p1_bill_counts, p1_bill_categories, "#fff");
      Raphael("p2-bill-graph", 176, 176).pieChart(176/2,176/2,80, p2_bill_counts, p2_bill_categories, "#fff");

    });
  </script>
<% end -%>
<h1><%=@district %></h1>

<div id="name-cards" class="grid_12 alpha omega">
  <div class="grid_6 alpha name-card">
    <div class="grid_3 alpha tweet">
      last tweet of <%= @p1.tweet_name%>
    </div>
    <div class="grid_3 omega">
      <%= image_tag @p1.profile_photo.url(:square100) %>
    </div>
    <div class="clear"></div>
    <div class="grid_3 alpha">
      <div id="p1-good-link" class="bar-graph"
        data-color="green"
        data-total="-1"
        data-ref="#p1-bad-link"
        data-float="right"
        data-value="50">
      </div>

      <div id="p1-bad-link" class="bar-graph"
        data-color="red"
        data-total="-1"
        data-ref="#p1-good-link"
        data-float="right"
        data-value="100">
      </div>
    </div>
    <div class="grid_3 omega">
      <a href="#">링크등록</a>
    </div>
  </div>

  <div class="grid_6 omega name-card">
    <div class="grid_3 alpha">
      <%= image_tag @p2.profile_photo.url(:square100) %>
    </div>
    <div class="grid_3 alpha tweet omega">
      last tweet of <%=@p2.tweet_name%>
    </div>
    <div class="clear"></div>
    <div class="grid_3 omega">
      <a href="#">링크등록</a>
    </div>
    <div class="grid_3 alpha">
      <div id="p2-good-link" class="bar-graph"
        data-color="green"
        data-total="-1"
        data-ref="#p2-bad-link"
        data-value="80">
      </div>
      <div id="p2-bad-link" class="bar-graph"
        data-color="red"
        data-total="-1"
        data-ref="#p2-good-link"
        data-value="200">
      </div>
    </div>
  </div>
</div>

<div class="grid_12 alpha omega">
  <div class="grid_2 alpha tabs">
    <%= link_to 'BEST 영상','#', :class => 'tab', "data-id" => "best-video" %>
    <%= link_to 'BEST 기사','#', :class => 'tab', "data-id" => "best-article" %>
    <%= link_to '국회활동','#', :class => 'tab', "data-id" => "bill-activity" %>
    <%= link_to '신상','#', :class => 'tab', "data-id" => "profile" %>
    <%= link_to '공약','#', :class => 'tab', "data-id" => "promise" %>
  </div>

  <div class="grid_8">
    <div class="grid_8 alpha omega tab-section" id="best-video">
      베스트 영상
    </div>

    <div class="grid_8 alpha omega tab-section" id="best-article">
      베스트 기사
    </div>

    <!-- 대표 링크들 -->
    <div class="grid_8 alpha omega tab-section" id="most-links">
      <div class="grid_4 alpha">
        <h4>칭찬</h4>
        <%= render :partial => "/timeline_entries/entry", :locals => {:link => @p1.most_good_link} %>
        <h4>지적</h4>
        <%= render :partial => "/timeline_entries/entry", :locals => {:link => @p1.most_bad_link} %>
      </div>

      <div class="grid_4 omega">
        <h4>칭찬</h4>
        <%= render :partial => "/timeline_entries/entry", :locals => {:link => @p2.most_good_link} %>
        <h4>지적</h4>
        <%= render :partial => "/timeline_entries/entry", :locals => {:link => @p2.most_bad_link} %>
      </div>
    </div>

    <!-- 의정활동-->
    <div class="grid_8 alpha omega tab-section" id="bill-activity">
      <div class="grid_8 alpha omega row">
        <div class="grid_3 alpha">?/??</div>
        <div class="grid_2">공약이행</div>
        <div class="grid_3 omega">?/??</div>
      </div>

      <div class="grid_8 alpha omega row">
        <div class="grid_3 alpha">
          <%= render :partial => "initiate_bills_summary", :locals => {:politician => @p1, :div_id => "p1-bill-graph"} %>
        </div>
        <div class="grid_2">대표발의법안</div>
        <div class="grid_3 omega">
          <%= render :partial => "initiate_bills_summary", :locals => {:politician => @p2, :div_id => "p2-bill-graph"} %>
        </div>
      </div>

      <div class="grid_8 alpha omega row">
        <div class="grid_3 alpha">
          <%= render :partial => "top_join_initiate", :locals => {:politician => @p1} %>
        </div>
        <div class="grid_2">국회인맥</div>
        <div class="grid_3 omega">
          <%= render :partial => "top_join_initiate", :locals => {:politician => @p2} %>
        </div>
      </div>

      <div class="grid_8 alpha omega row">
        <div class="grid_3 alpha">
          <div id="p2-bad-link" class="bar-graph"
            data-color="red"
            data-total="100"
            data-float="right"
            data-value="70">
          </div>
        </div>
        <div class="grid_2">본회의출석률</div>
        <div class="grid_3 omega">
          <div id="p2-bad-link" class="bar-graph"
            data-color="red"
            data-total="100"
            data-value="50">
          </div>
        </div>
      </div>
    </div><!-- end of 의정활동 -->

    <!-- 신상 -->
    <div class="grid_8 alpha omega tab-section" id="profile">
      <div class="grid_8 alpha omega row"> <!-- 생일 -->
        <div class="grid_3 alpha">
          <% if @p1.birthday -%>
            <%= @p1.birthday.strftime("%Y/%m/%d") %> (<%= Time.now.year - @p1.birthday.year+1%>)
          <% else -%>
            정보없음
          <% end -%>
        </div>
        <div class="grid_2">출생</div>
        <div class="grid_3 omega">
          <% if @p2.birthday -%>
            <%= @p2.birthday.strftime("%Y/%m/%d") %> (<%= Time.now.year - @p2.birthday.year+1%>)
          <% else -%>
            정보없음
          <% end -%>
        </div>
      </div>


      <div class="grid_8 alpha omega row"> <!-- 본인병역 -->
        <div class="grid_3 alpha"><%= @p1.military || "정보없음"%></div>
        <div class="grid_2">본인병역</div>
        <div class="grid_3 omega"><%= @p2.military || "정보없음"%></div>
      </div>


      <div class="grid_8 alpha omega row"> <!-- 현직 -->
        <div class="grid_3 alpha"><%= @p1.job || "정보없음"%></div>
        <div class="grid_2">현직</div>
        <div class="grid_3 omega"><%= @p2.job || "정보없음"%></div>
      </div>

      <div class="grid_8 alpha omega row"> <!-- 학력 -->
        <div class="grid_3 alpha"><%= @p1.education || "정보없음"%></div>
        <div class="grid_2">학력</div>
        <div class="grid_3 omega"><%= @p2.education || "정보없음"%></div>
      </div>

      <div class="grid_8 alpha omega row"> <!-- 주요경력 -->
        <div class="grid_3 alpha"><%= @p1.experiences || "정보없음"%></div>
        <div class="grid_2">주요경력</div>
        <div class="grid_3 omega"><%= @p2.experiences || "정보없음"%></div>
      </div>

    </div> <!-- end of 신상 -->

    <!-- 공약 -->
    <div class="grid_8 alpha omega tab-section" id="promise">
      <% 0.upto(2) do |i| -%>
        <div class="grid_8 alpha omega row">
          <div class="grid_3 alpha"><%=@p1.promises[i] || "정보없음" %></div>
          <div class="grid_2">공약<%=i+1%></div>
          <div class="grid_3 omega"><%=@p2.promises[i] || "정보없음"%></div>
        </div>
      <% end -%>
    </div>
  </div> <!-- end of tab conainer -->

  <div class="grid_2 omega">
  </div>
</div>
