<%content_for :scripts do -%>

  </script>
<% end -%>
<div class="grid_12" id="vs-content-wrapper">
  <div id="district-title">
    이 공간은 <span id="district-label"><%= @district %></span> 대결 페이지입니다.
  </div>

  <div id="district-desc">
    후보들에 대한 링크를 달아보세요! 상대에 대한 욕설 및 비방은 삼가주세요.<br />
    트위터말풍선을 누르면 트윗토론방으로 이동합니다.<br />
    좋아요 버튼을 눌러서 친구들에게도 <%= @district%> 페이지를 알려주세요.<br />
  </div>

  <div id="name-cards" class="clearfix">
    <% [@p1, @p2].each_with_index do |politician,i| -%>
      <%= render :partial => 'namecard', :locals => {:politician => politician, :index => i, :tweet => @tweets[i]} %>
      <% if i==0 -%>
        <div id="split-bar">
          <%= image_tag '/assets/icn_smile.gif', :class => "icn-bar-graph", :style => "margin-top:360px;" %>
          <%= image_tag '/assets/icn_frown.gif', :class => "icn-bar-graph", :style => "margin-top:20px;" %>
        </div>
      <% end -%>
    <% end -%>
  </div>

  <!-- tab 시작 -->
  <div id="tab-wrapper">
    <div id="tabs" class="clearfix">
      <%= link_to '최신링크',
        '#',
        :class => 'tab alpha', "data-id" => "recent-links" %>
      <%= link_to '인기링크',
        '#',
        :class => 'tab', "data-id" => "popular-links" %>
      <%= link_to '국회활동',
        bill_activities_of_politicians_path(:id1 => @p1.nil? ? nil : @p1.id, :id2 => @p2.nil? ? nil : @p2.id),
        :class => 'tab', "data-id" => "bill-activity" %>
      <%= link_to '프로필', profiles_of_politicians_path(:id1 => @p1.nil? ? nil : @p1.id, :id2 => @p2.nil? ? nil : @p2.id), :class => 'tab selected', "data-id" => "profile"%>
      <%= link_to '공약',promises_of_politicians_path(:id1 => @p1.nil? ? nil : @p1.id, :id2 => @p2.nil? ? nil : @p2.id), :class => 'tab omega', "data-id" => "promise" %>
    </div>

    <div class="grid_11 alpha omega clearfix" id="tab-sections-container">
    </div> <!-- end of tab conainer -->

  </div>
</div>

