<% content_for :scripts do -%>
  <script type="text/javascript">
    function law_title_click($elem, id) {
      //show box
      var $div = $("#bill-summary-popup");
      var index = $elem.index();
      if ($div.length == 0) {
        $div = $("<div id=\"bill-summary-popup\"><div id=\"summary-popup-content\"></div>");
        var $a = $("<a id=\"bill-popup-close\" href=\"#\">x</a>");
        $a.click(function() {
          $div.slideUp();
          return false;
        });
        $div.append($a);
        $div.appendTo("#bills-wrapper");
        $div.hide();
      }

      //slide
      $div.stop().slideDown();

      //load html
      $.get("/bills/"+ id, {}, function(data) {
        $("#summary-popup-content").html(data);
        $.colorbox.resize();
      }, "html"); 
      return false;
    }

    function loadTab($obj) {
      $(".tab").removeClass("selected");
      $obj.addClass("selected");
      var id = $obj.attr('data-id');
      if (!id) {
        return false;
      }
      $(".tab-section").hide();
      $tab_section = $("#"+id);
      if ($tab_section.length > 0) {
        $tab_section.show();
        return false;
      }

      $tab_section = $('<div class="alpha omega tab-section"></div>');
      $tab_section.attr('id', id);

      var opts = {
        offset: '100%'
      };

      $("#tab-sections-container").append($tab_section);
      $tab_section.load($obj.attr('href'), function() {
        if (id == 'politician-popular-links'){
          $("#bottom-indicator-popular-1").waypoint(function(event, direction) {
            if (direction == 'up') return;
            $("#bottom-indicator-popular-1").waypoint('remove');
            var url = $('#popular-next-page-<%= @politicians[0].id%>').attr('href');
            if (!url) {return;}
            console.log("load "+ url);
            $("#loading-indicator-popular-<%=@politicians[0].id%>").show();
            $.get(url, function(data) {
              $("#loading-indicator-popular-<%=@politicians[0].id %>").hide();
              console.log("loaded");
              var $data = $(data);
              var $objs = $data.filter(".link_entries");
              console.log("new entries = " + $objs.length);
              $("#p1-popular-links").append($objs);
              $objs.each(function(i, elem) {
                var $elem = $(elem);
                loadUrl($elem.attr("data-url"),"#p1-popular-links .link-entry-"+$elem.attr("data-id"));
              });
              var new_href = $data.find('#popular-next-page-<%= @politicians[0].id%>').attr("href");
              $('#popular-next-page-<%= @politicians[0].id%>').attr("href", new_href);
              console.log("new page href = " + new_href);
              if (new_href) {
                console.log("new waypoint");
                $("#bottom-indicator-popular-1").waypoint(opts);
              }
              else {
              }
              charLimit();
            });
          }, opts);

          $("#bottom-indicator-popular-2").waypoint(function(event, direction) {
            if (direction == 'up') return;
            $("#bottom-indicator-popular-2").waypoint('remove');
            var url = $('#popular-next-page-<%= @politicians[1].id%>').attr('href');
            if (!url) return;
            console.log("load "+ url);
            $("#loading-indicator-popular-<%=@politicians[1].id%>").show();
            $.get(url, function(data) {
              console.log("loaded");
              var $data = $(data);
              var $objs = $data.filter(".link_entries");
              console.log("new entries = " + $objs.length);
              $("#loading-indicator-popular-<%=@politicians[1].id%>").hide();
              $("#p2-popular-links").append($objs);
              $objs.each(function(i, elem) {
                var $elem = $(elem);
                loadUrl($elem.attr("data-url"),"#p2-popular-links .link-entry-"+$elem.attr("data-id"));
              });

              var new_href = $data.find('#popular-next-page-<%= @politicians[1].id%>').attr("href");
              $('#popular-next-page-<%= @politicians[1].id%>').attr("href", new_href);
              console.log("new page href = " + new_href);
              if (new_href) {
                console.log("new waypoint");
                $("#bottom-indicator-popular-2").waypoint(opts);
              }
              else {
              }
              charLimit();
            });
          }, opts);
        }
        if (id == 'politician-recent-links') {
          $("#bottom-indicator-recent-1").waypoint(function(event, direction) {
            if (direction == 'up') return;
            $("#bottom-indicator-recent-1").waypoint('remove');
            var url = $('#recent-next-page-<%= @politicians[0].id%>').attr('href');
            if (!url) return;
            console.log("load "+ url);
            $("#loading-indicator-recent-<%=@politicians[0].id%>").show();
            $.get(url, function(data) {
              $("#loading-indicator-recent-<%=@politicians[0].id%>").hide();
              console.log("loaded");
              var $data = $(data);
              var $objs = $data.filter(".link_entries");
              console.log("new entries = " + $objs.length);
              $("#p1-recent-links").append($objs);
              $objs.each(function(i, elem) {
                var $elem = $(elem);
                console.log("loadurl : " + $elem.attr("data-url"));
                loadUrl($elem.attr("data-url"),"#p1-recent-links .link-entry-"+$elem.attr("data-id"));
              });

              var new_href = $data.find('#recent-next-page-<%= @politicians[0].id%>').attr("href");
              $('#recent-next-page-<%= @politicians[0].id%>').attr("href", new_href);
              console.log("new page href = " + new_href);
              if (new_href) {
                console.log("new waypoint");
                $("#bottom-indicator-recent-1").waypoint(opts);
              }
              else {
              }
              charLimit();
            });
          }, opts);

          $("#bottom-indicator-recent-2").waypoint(function(event, direction) {
            if (direction == 'up') return;
            $("#bottom-indicator-recent-2").waypoint('remove');
            var url = $('#recent-next-page-<%= @politicians[1].id%>').attr('href');
            if (!url) return;
            console.log("load "+ url);
            $("#loading-indicator-recent-<%=@politicians[1].id%>").show();
            $.get(url, function(data) {
              $("#loading-indicator-recent-<%=@politicians[1].id%>").hide();
              console.log("loaded");
              var $data = $(data);
              var $objs = $data.filter(".link_entries");
              console.log("new entries = " + $objs.length);
              $("#p2-recent-links").append($objs);
              $objs.each(function(i, elem) {
                var $elem = $(elem);
                console.log("loadurl : " + $elem.attr("data-url"));
                loadUrl($elem.attr("data-url"),"#p2-recent-links .link-entry-"+$elem.attr("data-id"));
              });

              var new_href = $data.find('#recent-next-page-<%= @politicians[1].id%>').attr("href");
              $('#recent-next-page-<%= @politicians[1].id%>').attr("href", new_href);
              console.log("new page href = " + new_href);
              if (new_href) {
                console.log("new waypoint");
                $("#bottom-indicator-recent-2").waypoint(opts);
              }
              else {
              }
              charLimit();
              //loadUrl(url, "#link-entry-<%=@politicians[1].id%>");
            });
          }, opts);
        }
      }
      );
      return false;
    }

    $(function() {
      $(".tab").click(function(){
        if ($(this).hasClass('disabled')) {
          alert("준비중입니다^^");
          return false;
        }

        loadTab($(this));
        return false;
      });
      $(".selected").click();

      var timelineInitialized = false
//      $('#show-timeline').click( function() {
//        $('#timeline-container').jqmShow();
//
//        if(!timelineInitialized)
//        {
//          timelineController.reset()
//        }
//        timelineInitialized = true;
//        return false
//      });

      $('#timeline-container').jqm({overlay:1});

        $(".link-button.new").click(function() {
          $(this).colorbox({title:false,width:'800px',height:'650px',onComplete:function(){
            $("#timeline_entry_title").keyup(function() {
              var $this = $(this);
              var max = parseInt($this.attr('maxlength'));
              var len = $this.val().length;
              if (len > max) {
                console.log("len>max");
                $this.val($this.val().substr(0, max));
                len = $this.val().length;
              }

              $("#timeline-entry-comment-length").text(len);
            });

          activateTimelineEntryForm();
          $('.tm-entry-form').submit( function() {
            $.colorbox.close();
            submitTimelineEntryForm(this);
            // place new entries here
            return false;
          });

  $('span.checkbox').addClass("unchecked");
  $(".checkbox").click(function(){
    if($(this).children("input").attr("checked")){
      // uncheck
      $(this).children("input").removeAttr("checked");
      $(this).removeClass("checked");
      $(this).addClass("unchecked");
    }else{
      // check
      $(this).children("input").attr({checked: "checked"});
      $(this).removeClass("unchecked");
      $(this).addClass("checked");
    }
  });


        }
        });
      });
      <% if params[:timeline_entry_id] -%>
//        $("#show-timeline").click();
        var url = "/timeline_entries/"+'<%= params[:timeline_entry_id]%>';
        $.colorbox({href:url});
      <% end -%>
    });
 </script>
<% end -%>
<script type="text/javascript">
  function charLimit() { $(".link_reply_input").keyup(function() {
    var $this = $(this);
    var max = 140;
    var len = 0;
    var $textarea = $("textarea", $this);
    var len = $textarea.val().length;
    if (len > max) {
      $textarea.val($textarea.val().substr(0, max));
      len = $textarea.val().length;
    }
    $this.find(".current-comment-length").text(len);

    $this.children(".link-reply-button").click(function() {
      return true;
    });
    });};
	function loadUrl(url, parentDiv)  {
    if ($(parentDiv).length == 0) alert("!!!");
		$.ajax({ url: '/api/article_parse', data: 'url='+encodeURIComponent(url), type: 'POST', dataType: 'json', success: 
			function(data)  { 
				console.warn(data)
				$(".preview-title a", parentDiv).html(data.title);
				$(".preview-image", parentDiv).empty().append(data.image ? "<img src='" + data.image + "'/>" : "[이미지없음]" );
				$(".preview-desc", parentDiv).html(data.description);
			} 
		}); 
	};
</script>

<%= render 'timeline_entries/index' %>
<!--<a href="#" id="show-timeline">&nbsp;</a>-->

<div class="grid_12" id="vs-content-wrapper">
  <div id="district-title">
    이 공간은 <span id="district-label"><%= @district %></span> 대결 페이지입니다.
    <div class="fb-like" style="float: right;" data-href="http://wepoll.or.kr<%= request.fullpath %>" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false"></div>
  </div>

  <div id="district-desc">
    후보들에 대한 링크를 달아보세요! 상대에 대한 욕설 및 비방은 삼가주세요.<br />
    트위터말풍선을 누르면 트윗토론방으로 이동합니다.<br />
    좋아요 버튼을 눌러서 친구들에게도 <%= @district%> 페이지를 알려주세요.<br />
  </div>

  <div id="name-cards" class="clearfix">
    <% [@p1, @p2].each_with_index do |politician,i| -%>
      <%= render :partial => 'namecard', :locals => {:politician => politician, :index => i, :tweet => @tweets[i]} %>
      <% if i==0 -%>
        <div id="split-bar">
          <%= image_tag '/assets/icn_smile.gif', :class => "icn-bar-graph", :style => "margin-top:400px;" %>
          <%= image_tag '/assets/icn_frown.gif', :class => "icn-bar-graph", :style => "margin-top:20px;" %>
        </div>
      <% end -%>
    <% end -%>
  </div>

  <!-- tab 시작 -->
  <div id="tab-wrapper">
    <div id="tabs" class="clearfix">
      <%= link_to '최신링크',
        recent_links_tab_of_politicians_path(:id1 => @p1.nil? ? nil : @p1.id, :id2 => @p2.nil? ? nil : @p2.id),
        :class => 'tab selected alpha', "data-id" => "politician-recent-links" %>
      <%= link_to '인기링크',
        popular_links_tab_of_politicians_path(:id1 => @p1.nil? ? nil : @p1.id, :id2 => @p2.nil? ? nil : @p2.id),
        :class => 'tab', "data-id" => "politician-popular-links" %>
      <%= link_to '국회활동',
        bill_activities_of_politicians_path(:id1 => @p1.nil? ? nil : @p1.id, :id2 => @p2.nil? ? nil : @p2.id),
        :class => 'tab', "data-id" => "bill-activity" %>
      <%= link_to '프로필', profiles_of_politicians_path(:id1 => @p1.nil? ? nil : @p1.id, :id2 => @p2.nil? ? nil : @p2.id), :class => 'tab', "data-id" => "profile"%>
      <%= link_to '공약',promises_of_politicians_path(:id1 => @p1.nil? ? nil : @p1.id, :id2 => @p2.nil? ? nil : @p2.id), :class => 'tab omega disabled', "data-id" => "promise" %>
    </div>
    <div class="grid_11 alpha omega clearfix" id="tab-sections-container">
    </div> <!-- end of tab conainer -->
  </div>
</div>

