<div class="message_entry message-entry-<%= message.id %> clearfix">
  <%= image_tag message.politician.profile_photo.url(:square100), :size => "40x40", :class => "message_politician_photo" %>
  <div class="message_entry_body clearfix">
    <%= message.user.nickname %>
    <span class="message_created_at"><%= message.created_at.strftime("%y.%m.%d %H:%M") %></span><br />
    <%= message.politician.name %> 후보에게<br /><br />
    <%= message.body %>
  </div>
  <div class="message_entry_btns">
    <%= link_to '추천', '#', :class => "message_entry_btn like" %><span class="like_count">0</span><br />
    <%= link_to '반대', '#', :class => "message_entry_btn blame" %><span class="blame_count">0</span>
  </div>
  <% if message.preview != nil %>
    <div class="message_entries_preview preview clearfix">
      <img class="preview-img" src='<%= (message.preview and message.preview.image_url and message.preview.image_url.length>0) ? message.preview.image_url : "/assets/dummy-news-1.jpg" %>'>
      <div class="preview-right">
        <div class="preview-title"><a target="_blank" href="<%= raw message.preview.url if message.preview != nil%>"><%= message.preview.title if message.preview %></a></div>
        <div class="preview-link"><%= link_to message.preview.url[0..34] + "...", message.preview.url, :target => "_blank" %></div>
        <div class="preview-txt"><%= (s=message.preview.description;s.length > 120 ? s[0...117]+"...": s) if message.preview %></div>
      </div>
    </div>
  <% end %>
  <div class="clear"></div>

  <p class="show_message_replies_btn"><%= link_to '덧글 ', message_replies_path(message), :remote => true %><span class="message_replies_count"><%= message.message_replies.count %></span></p>
  <div class="clear"></div>
  <div class="message_replies" style="display: none;">
    <div class="message_reply_form">
      <%= form_tag message_replies_path(message), :remote => true do %>
        <%= text_field_tag 'message_reply[body]', nil, :class => "message_reply_txt_field" %>
        <%= submit_tag '확인', :class => "message_reply_submit_btn" %>
      <% end %>
    </div>
    <ul class="message_replies_list">
    </ul>
  </div>
</div>
