<% content_for :scripts do -%>
  <script type="text/javascript">
    $(document).ready(function() {
      $("#politician_party").tokenInput(
        [{name:"민주통합"}, {name:"청년당"}, {name:"국민행복"}, {name:"새누리"}, {name:"무소속"}, {name:"통합진보"}, {name:"국민생각"}, {name:"가자!대국민중심당"}, {name:"국가재건친박연합"}, {name:"진보신당"}],
        {
          tokenValue:"name",
          propertyToSearch:"name",
          tokenLimit:1,
          theme:'facebook'
        }
      );
      $("#politician_district").tokenInput(
        //TODO : 밑에 정리좀...ㅜㅜ
        [{name:"종로"},{name:"중구"},{name:"용산"},{name:"성동갑"},{name:"성동을"},{name:"광진갑"},{name:"광진을"},{name:"동대문갑"},{name:"동대문을"},{name:"중랑갑"},{name:"중랑을"},{name:"성북갑"},{name:"성북을"},{name:"강북갑"},{name:"강북을"},{name:"도봉갑"},{name:"도봉을"},{name:"노원갑"},{name:"노원을"},{name:"노원병"},{name:"은평갑"},{name:"은평을"},{name:"서대문갑"},{name:"서대문을"},{name:"마포갑"},{name:"마포을"},{name:"양천갑"},{name:"양천을"},{name:"강서갑"},{name:"강서을"},{name:"구로갑"},{name:"구로을"},{name:"금천"},{name:"영등포갑"},{name:"영등포을"},{name:"동작갑"},{name:"동작을"},{name:"관악갑"},{name:"관악을"},{name:"서초갑"},{name:"서초을"},{name:"강남갑"},{name:"강남을"},{name:"송파갑"},{name:"송파을"},{name:"송파병"},{name:"강동갑"},{name:"강동을"},{name:"중구"},{name:"동구"},{name:"서구"},{name:"영도구"},{name:"부산진갑"},{name:"부산진을"},{name:"동래구"},{name:"남구갑"},{name:"남구을"},{name:"북구강서갑"},{name:"북구강서을"},{name:"해운대기장갑"},{name:"해운대기장을"},{name:"사하갑"},{name:"사하을"},{name:"금정구"},{name:"연제구"},{name:"수영구"},{name:"사상구"}],
        {
          tokenValue:"name",
          propertyToSearch:"name",
          tokenLimit:1,
          theme:'facebook'
        }
      );

      $("#politician_elections").tokenInput(
        [{age:13},{age:14},{age:15},{age:16},{age:17},{age:18},{age:19},{age:20}],
        {
          tokenValue:"age",
          propertyToSearch:"age",
          theme:'facebook'
        }
      );


      <% if @politician.district -%>
        $("#politician_district").tokenInput("add",
        {name:"<%= @politician.district %>"});
      <% end -%>

      <% if @politician.party -%>
        $("#politician_party").tokenInput("add",
        {name:"<%= @politician.party %>"});
      <% end -%>

      <% if @politician.elections -%>
        var elections = $.parseJSON('[<%=raw @politician.elections.map {|e| "{\"age\":#{e}}"}.join(",")%>]');
        for (var i in elections) {
          $("#politician_elections").tokenInput("add", elections[i]);
        }
      <% end -%>

      $("#politician_profile_photo").photoUpload({
        uploadAction:"<%= upload_photo_admin_politicians_path %>",
        imgWidth:100,
        imgHeight:100,
        placeholder_img_src:
        '<%= @politician.profile_photo? ? @politician.profile_photo.url(:square100) : "http://placehold.it/100x100"  %>',
        field_name:"data",
        optional_parameters:{geometry:"100x100#",authenticity_token:"<%= form_authenticity_token %>"}
      });

    });
  </script>
<% end -%>
<%= form_for [:admin, @politician] do |f| -%>
  <div class="table">
    <table class="listing form" cellpadding="0" cellspacing="0">
      <tr>
        <th class="full" colspan="2">정치인정보입력</th>
      </tr>
      <tr>
        <td><strong>이름</strong></td>
        <td><%= f.text_field :name %></td>
        <td rowspan="3"><%= f.file_field :profile_photo %></td>
      </tr>
      <tr>
        <td><strong>정당</strong></td>
        <td><%= f.text_field :party %></td>
      </tr>
      <tr>
        <td><strong>지역구</strong></td>
        <td><%= f.text_field :district %></td>
      </tr>
      <tr>
        <td><strong>생년월일</strong></td>
        <td colspan="2"><%= f.date_select :birthday%></td>
      </tr>
      <tr>
        <td><strong>임기</strong></td>
        <td colspan="2"><%= f.text_field :elections %></td>
      </tr>
      <tr>
        <td><strong>트위터</strong></td>
        <td colspan="2">@<%=f.text_field :tweet_name %></td>
      </tr>
      <tr>
        <td><strong>병역</strong></td>
        <td colspan="2"><%= f.text_field :military%></td>
      </tr>
      <tr>
        <td><strong>공약</strong></td>
        <td colspan="2"><%= text_area_tag :promises, YAML::dump(@politician.promises)%></td>
      </tr>
      <tr>
        <td><strong>이력</strong></td>
        <td colspan="2"><%= f.text_area :experiences%></td>
      </tr>
      <tr>
        <td><strong>학력</strong></td>
        <td colspan="2"><%= f.text_area :education%></td>
      </tr>
      <tr>
        <td><strong>현직</strong></td>
        <td colspan="2"><%= f.text_field :job%></td>
      </tr>

    </table>
  </div>

  <div class="actions">
    <%= f.submit '확인'%>
  </div>
<% end -%>
