<div class="top-bar">
  <h1>정치인 <small>(<%= Politician.count %>명)</small></h1>
</div>

<div class="select-bar">
  <%= form_tag search_admin_politicians_path, :method => 'get' do %>
    <%= text_field_tag 'query', params[:query], :placeholder => '이름입력' %>
    <%= submit_tag '검색' %>
  <% end-%>
</div>

<div class="table">
  <table class="listing" cellpadding="0" cellspacing="0">
    <tr>
      <th>이름</th>
      <th>생년월일</th>
      <th>지역구</th>
      <th>정당</th>
      <th>임기</th>
      <th>당선횟수</th>
    </tr>
    <% @politicians.each do |p| -%>
      <tr>
        <td><%= link_to p.name, admin_politician_path(p)%></td>
        <td><%= p.birthday%></td>
        <td><%= p.district%></td>
        <td><%= p.party%></td>
        <td><%= (p.elections||[]).join(",")%></td>
        <td><%= p.election_count%></td>
      </tr>
    <% end -%>
  </table>
</div>

<%= paginate @politicians%>
