<div class="top-bar">
  <h1><%= @bill.title %></h1>
</div>

<div class="table">
  <table class="listing form" cellpadding="0" cellspacing="0">
    <% @keys.each do |k| -%>
      <tr>
        <td><strong><%= k%></strong></td>
        <td><%= @bill.send k %></td>
      </tr>
    <% end -%>

    <tr>
      <td><strong>발의의원</strong></td>
      <td><%= link_to @bill.initiator.name, admin_politician_path(@bill.initiator)%></td>
    </tr>

    <tr>
      <td><strong>공동발의자</strong></td>
      <td>
        <% @bill.coactors.each do |p2| -%>
          <%= link_to(p2.name, admin_politician_path(p2)) %>
        <% end -%>
      </td>
    </tr>
  </table>
</div>
