<div id="info">
  <h2>위폴 가입하기</h2>
  <% if signed_via_facebook? -%>
    <div class="alert alert-info">
      <%= image_tag session["user_facebook_data"]["info"]["image"], :id => "profile_image" %>
      <p>
        페이스북으로 로그인하셨습니다.<br />
        필요한 정보를 입력하시면 페이스북과 연동하여 위폴을 이용할 수 있습니다.
      </p>
    </div>
  <% elsif signed_via_twitter? -%>
    <div class="alert alert-info">
      <%= image_tag session["user_twitter_data"]["info"]["image"], :id => "profile_image" %>
      <p>
        트위터로 로그인하셨습니다.<br />
        필요한 정보를 입력하시면 트위터와 연동하여 위폴을 이용할 수 있습니다.
      </p>
    </div>
  <% end -%>
  <div style="clear: both;"></div>
</div>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <div id="middle">
    <div class="agree_container">
      <textarea class="text_box" readonly>
<%= File.read(Rails.root + "provision.txt")%>
      </textarea>
      <%= check_box_tag :agree_provision %><%= label_tag :agree_provision, '약관에 동의합니다.' %>
    </div>
    <div class="agree_container">
      <textarea class="text_box" readonly>
<%= File.read(Rails.root + "privacy.txt")%>
      </textarea>
      <%= check_box_tag :agree_privacy %><%= label_tag :agree_private, '개인정보 수집 및 이용에 동의합니다.' %>
    </div>
  </div>
  <div id="buttons"><%= button_to '돌아가기', '#', :id => "cancel_btn", :class => "btn" %><%= f.submit "가입하기", :id => "sign_up_btn", :class => "btn" %></div>
  <%= devise_error_messages! %>
<% end %>

<%= javascript_include_tag 'jquery' %>
<%= javascript_include_tag 'jquery_ujs' %>

<script type="text/javascript">
  $('#cancel_btn').click(function() {
    window.close();
    return false;
  });
</script>
<style type"text/css">
  #info {
    padding-left: 20px;
    font-size: 10pt;
  }
  #profile_image {
    float: left;
    margin-right: 10px;
  }
  .alert p {
    float: left;
  }
  #middle {
    background-color: #f4f4f4;
  }
  .agree_container {
    padding: 10px;
  }
  .text_box {
    background-color: white;
  }
  textarea.text_box {
    width:100%;
    height:150px;
    border:1px solid #666;
    font-size:9pt;
  }
  #buttons {
    width: 134px;
    margin: 0 auto;
    height: 30px;
  }
  .btn {
    height: 30px;
    border: none;
    margin: 0;
    padding: 5px;
    float: left;
  }
  #cancel_btn {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #bdbdbd;
    padding-left: 10px;
  }
  #sign_up_btn {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #fede4d;
    padding-right: 10px;
  }
</style>
