<div class="top-bar">
  <h1><%= @notice.title %></h1>
</div>

<div class="table">
  <table class="listing form" cellpadding="0" cellspacing="0">
    <tr>
      <th colspan="2">공지사항</th>
    </tr>
    <tr>
      <td><strong>제목</strong></td>
      <td><%= @notice.title %></td>
    </tr>
    <tr>
      <td><strong>내용</strong></td>
      <td>
        <%= simple_format @notice.content %>
      </td>
    </tr>
  </table>
</div>

<div class="actions">
  <%= link_to '목록', admin_notices_path, :class => 'action list' %> | 
  <%= link_to '편집', edit_admin_notice_path(@notice), :class => 'action edit' %> | 
  <%= link_to '삭제', admin_notice_path(@notice), :method => :delete, :confirm => '정말 삭제하시겠습니까?', :class => 'action destroy' %>
</div>
